# DEFI IA 2023

In [1]:
import numpy as np
import pandas as pd
import requests
import random

### Display data

In [2]:
Features = pd.read_csv('features_hotels.csv')
Features

,hotel_id,group,brand,city,parking,pool,children_policy
0,0,Yin Yang,Royal Lotus,paris,1,0,1
1,1,Independant,Independant,copenhagen,1,0,0
2,2,Independant,Independant,madrid,0,0,0
3,3,Independant,Independant,rome,1,0,0
4,4,Independant,Independant,sofia,1,0,0
...,...,...,...,...,...,...,...
994,994,Yin Yang,Ardisson,copenhagen,0,0,0
995,995,Chillton Worldwide,Quadrupletree,copenhagen,0,0,0
996,996,Accar Hotels,Navatel,vienna,0,0,0
997,997,Chillton Worldwide,Tripletree,madrid,0,0,0
998,998,Yin Yang,Royal Lotus,paris,0,0,0

In [3]:
Test = pd.read_csv('test_set.csv')
Test

,index,order_requests,city,date,language,mobile,avatar_id,hotel_id,stock
0,0,1,vilnius,21,romanian,0,1,161,46
1,1,1,vilnius,21,romanian,0,1,187,32
2,2,1,vilnius,21,romanian,0,1,279,12
3,3,1,vilnius,21,romanian,0,1,395,10
4,4,1,vilnius,21,romanian,0,1,488,42
...,...,...,...,...,...,...,...,...,...
6639,6639,843,rome,5,irish,0,794,987,1
6640,6640,844,vienna,1,irish,1,794,26,1
6641,6641,844,vienna,1,irish,1,794,263,0
6642,6642,844,vienna,1,irish,1,794,456,0
6643,6643,844,vienna,1,irish,1,794,699,0

In [4]:
language = Test['language'].unique()
language

array(['romanian', 'swedish', 'maltese', 'belgian', 'luxembourgish',
       'dutch', 'french', 'finnish', 'austrian', 'slovakian', 'hungarian',
       'bulgarian', 'danish', 'greek', 'croatian', 'polish', 'german',
       'spanish', 'estonian', 'lithuanian', 'cypriot', 'latvian', 'irish',
       'italian', 'slovene', 'czech', 'portuguese'], dtype=object)

## Requests

In [15]:
import urllib.parse

domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)
user_id = '0965ef50-4892-4e22-923c-236be6b36411'

### Requests 1

In [7]:
#Premier script 

# compteur = 0
# i = 0
# step = ['step7j_','step3j_']

# # MOBILE 0, dÃ©part 36e jour avec step 7 jours
# date = [36,16]
# mobile = [0,1]

# matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])
# pricing_requests = []

# for h in range(2):
#     for i in range(2):
#         for j in range(np.shape(language)[0]):
#             for k in range(np.shape(city)[0]):
#                 a = random.randint(-2,2)
#                 name = "avatar_d"+str(date[i] + a)+ '_'+str(step[i]) + str(mobile[h]) + '_' +str(compteur)
#                 params = {
#                     "avatar_name": name ,
#                     "language": language[j],
#                     "city": city[k],
#                     "date": date[i] + a,
#                     "mobile": mobile[h],    
#                 }
#                 compteur +=1
#                 print(params)
    
#                 r1 = requests.post(path(f"avatars/{user_id}/{name}"))
#                 r1 = requests.get(path(f"pricing/{user_id}"), params=params)
#                 pricing_requests.append(
#                     pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request'])
#                 )
#                 df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],name)], columns=['avatar_id', 'name'])
#                 matrix_avatar = matrix_avatar.append(df_tmp)
                
                
# pricing_requests = pd.concat(pricing_requests)
# matrix_avatar_df = pd.DataFrame(matrix_avatar)
# matrix_merge = pd.merge(pricing_requests,matrix_avatar_df)
# matrix_merge.to_csv('matrix_merge.csv')

In [8]:
# matrix_avatar = pd.DataFrame([],columns = ['id', 'name','order_request','city','date','mobile','language','stock','index'])

# for avatar in r.json():
#     df_tmp = pd.DataFrame([(avatar['id'],avatar['name'])], columns=['id', 'name'])
#     matrix_avatar = matrix_avatar.append(df_tmp)
# display(matrix_avatar)

In [9]:
requests1 = pd.read_csv('matrix_merge.csv')
display(requests1)

,Unnamed: 0,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,0,663,149,84,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
1,1,912,164,73,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
2,2,640,152,70,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
3,3,656,106,64,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
4,4,792,82,76,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
...,...,...,...,...,...,...,...,...,...,...
100934,100934,491,167,24,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100935,100935,371,100,3,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100936,100936,334,82,5,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100937,100937,466,169,14,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100938,100938,389,121,2,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971

In [22]:
new_matrix = pd.DataFrame(requests1['name'].unique(),columns = ['name'])      
visualisation = pd.merge(new_matrix,requests1, copy = False)
subset_requests = requests1[['name', 'avatar_id', 'date', 'language', 'mobile', 'city']]
visualisation = subset_requests.drop_duplicates()
display(visualisation)
#visualisation.to_csv('nos_avatars.csv')

,name,avatar_id,date,language,mobile,city
0,avatar_d35_step7j_0_0,38715,35,romanian,0,paris
156,avatar_d36_step7j_0_1,38716,36,romanian,0,copenhagen
291,avatar_d37_step7j_0_2,38717,37,romanian,0,madrid
399,avatar_d34_step7j_0_3,38718,34,romanian,0,rome
521,avatar_d38_step7j_0_4,38719,38,romanian,0,sofia
...,...,...,...,...,...,...
100525,avatar_d17_step3j_1_967,39682,17,portuguese,1,sofia
100576,avatar_d15_step3j_1_968,39683,15,portuguese,1,vilnius
100663,avatar_d14_step3j_1_969,39684,14,portuguese,1,vienna
100769,avatar_d17_step3j_1_970,39685,17,portuguese,1,amsterdam
100893,avatar_d15_step3j_1_971,39686,15,portuguese,1,valletta

In [18]:
date_plus_30j = visualisation[(visualisation["date"] >30)]
date_inf_20j = visualisation[(visualisation["date"] < 20)]

#DÃ©caler les dates de 7 ou 3 jours
date_plus_30j["date"] = date_plus_30j["date"] - 7
date_inf_20j["date"] = date_inf_20j["date"] - 3

In [21]:
#Avatars avec leurs nouvelles dates de recherche
frames = [date_plus_30j, date_inf_20j]
result = pd.concat(frames)
display(result)

,name,avatar_id,date,language,mobile,city
0,avatar_d35_step7j_0_0,38715,28,romanian,0,paris
156,avatar_d36_step7j_0_1,38716,29,romanian,0,copenhagen
291,avatar_d37_step7j_0_2,38717,30,romanian,0,madrid
399,avatar_d34_step7j_0_3,38718,27,romanian,0,rome
521,avatar_d38_step7j_0_4,38719,31,romanian,0,sofia
...,...,...,...,...,...,...
100525,avatar_d17_step3j_1_967,39682,14,portuguese,1,sofia
100576,avatar_d15_step3j_1_968,39683,12,portuguese,1,vilnius
100663,avatar_d14_step3j_1_969,39684,11,portuguese,1,vienna
100769,avatar_d17_step3j_1_970,39685,14,portuguese,1,amsterdam
100893,avatar_d15_step3j_1_971,39686,12,portuguese,1,valletta

In [ ]:
# matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])
# pricing_requests = []

# for h in range(2):
#     for i in range(2):
#         for j in range(np.shape(language)[0]):
#             for k in range(np.shape(city)[0]):
#                 a = random.randint(-2,2)
#                 name = "avatar_d"+str(date[i] + a)+ '_'+str(step[i]) + str(mobile[h]) + '_' +str(compteur)
#                 params = {
#                     "avatar_name": name ,
#                     "language": language[j],
#                     "city": city[k],
#                     "date": date[i] + a,
#                     "mobile": mobile[h],    
#                 }
#                 compteur +=1
#                 print(params)
    
#                 #r1 = requests.post(path(f"avatars/{user_id}/{name}"))
#                 #r1 = requests.get(path(f"pricing/{user_id}"), params=params)
#                 #pricing_requests.append(
#                 #    pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request'])
#                 #)
#                 #df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],name)], columns=['avatar_id', 'name'])
#                 #matrix_avatar = matrix_avatar.append(df_tmp)
                
                
# pricing_requests = pd.concat(pricing_requests)
# matrix_avatar_df = pd.DataFrame(matrix_avatar)
# matrix_merge = pd.merge(pricing_requests,matrix_avatar_df)
# matrix_merge.to_csv('matrix_merge.csv')

In [134]:
requests_1 = pd.read_csv('requests_1.csv', index_col=0)
display(requests_1)

,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,663,149,84,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
1,912,164,73,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
2,640,152,70,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
3,656,106,64,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
4,792,82,76,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
...,...,...,...,...,...,...,...,...,...
100934,491,167,24,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100935,371,100,3,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100936,334,82,5,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100937,466,169,14,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100938,389,121,2,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971

### Requests 2

In [36]:
nos_avatars = pd.read_csv('nos_avatars.csv')
display(nos_avatars)

In [39]:
subset_requests = nos_avatars[['name', 'avatar_id', 'date', 'language', 'mobile', 'city']]
visualisation = subset_requests.drop_duplicates()
display(visualisation)

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715    35    romanian       0       paris
1      avatar_d36_step7j_0_1      38716    36    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717    37    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    34    romanian       0        rome
4      avatar_d38_step7j_0_4      38719    38    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682    17  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683    15  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684    14  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685    17  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686    15  portuguese       1    valletta

[972 rows x 6 columns]

In [43]:
date_plus_30j = visualisation[(visualisation["date"] > 30)]
date_inf_20j = visualisation[(visualisation["date"] < 20)]

date_plus_30j["date"] = date_plus_30j["date"] - 7*3
date_inf_20j["date"] = date_inf_20j["date"] - 3*3

# display(date_plus_30j)
# display(date_inf_20j)

C:\Users\elise\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\elise\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
frames = [date_plus_30j, date_inf_20j]
result = pd.concat(frames)
display(result)

result['date'].unique()

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715    14    romanian       0       paris
1      avatar_d36_step7j_0_1      38716    15    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717    16    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    13    romanian       0        rome
4      avatar_d38_step7j_0_4      38719    17    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682     8  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683     6  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684     5  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685     8  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686     6  portuguese       1    valletta

[972 rows x 6 columns]

In [24]:
# matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])
# pricing_requests = []

# compteur = 0
# for i in range(result.shape[0]):
# #for i in range(1):
#     params = {"avatar_name": result.iloc[i]['name'] ,
#                 "language": result.iloc[i]['language'],
#                 "city": result.iloc[i]['city'],
#                 "date": result.iloc[i]['date'],
#                 "mobile": result.iloc[i]['mobile'],    
#                 }
#     #print(params)
#     compteur += 1

#     #avatar_id = result.iloc[i]['avatar_id']
#     r1 = requests.get(path(f"pricing/{user_id}"), params=params)
#     pricing_requests.append(pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request']))
#     df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],result.iloc[i]['name'])], columns=['avatar_id', 'name'])
#     matrix_avatar = matrix_avatar.append(df_tmp)
    
# print(compteur)

# pricing_requests = pd.concat(pricing_requests)
# matrix_avatar_df = pd.DataFrame(matrix_avatar)
# matrix_merge_3 = pd.merge(pricing_requests,matrix_avatar_df)
# matrix_merge_3.to_csv('matrix_merge_3.csv')
# display(matrix_merge_3)

In [133]:
requests_2 = pd.read_csv('requests_2.csv', index_col=0)
display(requests_2)

,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,785,204,21,paris,21,romanian,0,38715,avatar_d35_step7j_0_0
1,323,284,58,paris,21,romanian,0,38715,avatar_d35_step7j_0_0
2,972,101,8,paris,21,romanian,0,38715,avatar_d35_step7j_0_0
3,705,144,18,paris,21,romanian,0,38715,avatar_d35_step7j_0_0
4,357,163,25,paris,21,romanian,0,38715,avatar_d35_step7j_0_0
...,...,...,...,...,...,...,...,...,...
104709,325,102,0,valletta,12,portuguese,1,39686,avatar_d15_step3j_1_971
104710,81,166,12,valletta,12,portuguese,1,39686,avatar_d15_step3j_1_971
104711,466,169,9,valletta,12,portuguese,1,39686,avatar_d15_step3j_1_971
104712,719,213,15,valletta,12,portuguese,1,39686,avatar_d15_step3j_1_971
104713,965,166,12,valletta,12,portuguese,1,39686,avatar_d15_step3j_1_971

### Requests 3

In [5]:
requests_3 = pd.read_csv('requests_4.csv', index_col=0)
display(requests_3)

,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,885,179,10,paris,7,romanian,0,38715,avatar_d35_step7j_0_0
1,736,235,8,paris,7,romanian,0,38715,avatar_d35_step7j_0_0
2,946,339,5,paris,7,romanian,0,38715,avatar_d35_step7j_0_0
3,41,142,6,paris,7,romanian,0,38715,avatar_d35_step7j_0_0
4,257,197,0,paris,7,romanian,0,38715,avatar_d35_step7j_0_0
...,...,...,...,...,...,...,...,...,...
102889,719,291,2,valletta,3,portuguese,1,39686,avatar_d15_step3j_1_971
102890,244,412,3,valletta,3,portuguese,1,39686,avatar_d15_step3j_1_971
102891,965,171,3,valletta,3,portuguese,1,39686,avatar_d15_step3j_1_971
102892,504,199,4,valletta,3,portuguese,1,39686,avatar_d15_step3j_1_971
102893,746,169,5,valletta,3,portuguese,1,39686,avatar_d15_step3j_1_971

In [6]:
nos_avatars = pd.read_csv('nos_avatars.csv')
display(nos_avatars)

,Unnamed: 0,name,avatar_id,date,language,mobile,city
0,0,avatar_d35_step7j_0_0,38715,35,romanian,0,paris
1,156,avatar_d36_step7j_0_1,38716,36,romanian,0,copenhagen
2,291,avatar_d37_step7j_0_2,38717,37,romanian,0,madrid
3,399,avatar_d34_step7j_0_3,38718,34,romanian,0,rome
4,521,avatar_d38_step7j_0_4,38719,38,romanian,0,sofia
...,...,...,...,...,...,...,...
967,100525,avatar_d17_step3j_1_967,39682,17,portuguese,1,sofia
968,100576,avatar_d15_step3j_1_968,39683,15,portuguese,1,vilnius
969,100663,avatar_d14_step3j_1_969,39684,14,portuguese,1,vienna
970,100769,avatar_d17_step3j_1_970,39685,17,portuguese,1,amsterdam
971,100893,avatar_d15_step3j_1_971,39686,15,portuguese,1,valletta

In [7]:
subset_requests = nos_avatars[['name', 'avatar_id', 'date', 'language', 'mobile', 'city']]
visualisation = subset_requests.drop_duplicates()
display(visualisation)

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715    35    romanian       0       paris
1      avatar_d36_step7j_0_1      38716    36    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717    37    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    34    romanian       0        rome
4      avatar_d38_step7j_0_4      38719    38    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682    17  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683    15  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684    14  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685    17  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686    15  portuguese       1    valletta

[972 rows x 6 columns]

In [8]:
date_plus_30j = visualisation[(visualisation["date"] > 30)]
date_inf_20j = visualisation[(visualisation["date"] < 20)]

date_plus_30j["date"] = date_plus_30j["date"] - 7*5
date_inf_20j["date"] = date_inf_20j["date"] - 3*5

# display(date_plus_30j)
# display(date_inf_20j)

C:\Users\elise\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\elise\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [9]:
display(date_plus_30j)
display(date_inf_20j)

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715     0    romanian       0       paris
1      avatar_d36_step7j_0_1      38716     1    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717     2    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    -1    romanian       0        rome
4      avatar_d38_step7j_0_4      38719     3    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
724  avatar_d38_step7j_1_724      39439     3  portuguese       1       sofia
725  avatar_d37_step7j_1_725      39440     2  portuguese       1     vilnius
726  avatar_d34_step7j_1_726      39441    -1  portuguese       1      vienna
727  avatar_d35_step7j_1_727      39442     0  portuguese       1   amsterdam
728  avatar_d37_step7j_1_728      39443     2  portuguese       1    valletta

[486 rows x 6 columns]

                        name  avatar_id  date    language  mobile        city
243  avatar_d15_step3j_0_243      38958     0    romanian       0       paris
244  avatar_d16_step3j_0_244      38959     1    romanian       0  copenhagen
245  avatar_d17_step3j_0_245      38960     2    romanian       0      madrid
246  avatar_d18_step3j_0_246      38961     3    romanian       0        rome
247  avatar_d18_step3j_0_247      38962     3    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682     2  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683     0  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684    -1  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685     2  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686     0  portuguese       1    valletta

[486 rows x 6 columns]

In [10]:
frames = [date_plus_30j, date_inf_20j]
result = pd.concat(frames)
display(result)

result['date'].unique()

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715     0    romanian       0       paris
1      avatar_d36_step7j_0_1      38716     1    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717     2    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    -1    romanian       0        rome
4      avatar_d38_step7j_0_4      38719     3    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682     2  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683     0  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684    -1  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685     2  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686     0  portuguese       1    valletta

[972 rows x 6 columns]

array([ 0,  1,  2, -1,  3], dtype=int64)

In [11]:
for i in range(result.shape[0]):
    if result.date[i] == -1:
        result.date[i] = 0

C:\Users\elise\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
display(result)
result.date.unique()

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715     0    romanian       0       paris
1      avatar_d36_step7j_0_1      38716     1    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717     2    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718     0    romanian       0        rome
4      avatar_d38_step7j_0_4      38719     3    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682     2  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683     0  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684     0  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685     2  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686     0  portuguese       1    valletta

[972 rows x 6 columns]

array([0, 1, 2, 3], dtype=int64)

In [ ]:
matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])
pricing_requests = []

compteur = 0
for i in range(result.shape[0]):
# for i in range(1):
    params = {"avatar_name": result.iloc[i]['name'] ,
                "language": result.iloc[i]['language'],
                "city": result.iloc[i]['city'],
                "date": result.iloc[i]['date'],
                "mobile": result.iloc[i]['mobile'],    
                }
    print(params)
    compteur += 1

    avatar_id = result.iloc[i]['avatar_id']
    r1 = requests.get(path(f"pricing/{user_id}"), params=params)
    pricing_requests.append(pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request']))
    df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],result.iloc[i]['name'])], columns=['avatar_id', 'name'])
    matrix_avatar = matrix_avatar.append(df_tmp)
    
print(compteur)

pricing_requests = pd.concat(pricing_requests)
matrix_avatar_df = pd.DataFrame(matrix_avatar)
matrix_merge_5 = pd.merge(pricing_requests,matrix_avatar_df)
matrix_merge_5.to_csv('requests_5.csv')
display(matrix_merge_5)

{'avatar_name': 'avatar_d35_step7j_0_0', 'language': 'romanian', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_1', 'language': 'romanian', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_2', 'language': 'romanian', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_3', 'language': 'romanian', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_4', 'language': 'romanian', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_5', 'language': 'romanian', 'city': 'vilnius', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_6', 'language': 'romanian', 'city': 'vienna', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_7', 'language': 'romanian', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_8', 'language': 'romanian', 'city': 'valletta', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_9', 'language': 'swedish', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_10', 'language': 'swedish', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_11', 'language': 'swedish', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_12', 'language': 'swedish', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_13', 'language': 'swedish', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_14', 'language': 'swedish', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_15', 'language': 'swedish', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_16', 'language': 'swedish', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_17', 'language': 'swedish', 'city': 'valletta', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_18', 'language': 'maltese', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_19', 'language': 'maltese', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_20', 'language': 'maltese', 'city': 'madrid', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_21', 'language': 'maltese', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_22', 'language': 'maltese', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_23', 'language': 'maltese', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_24', 'language': 'maltese', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_25', 'language': 'maltese', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_26', 'language': 'maltese', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_27', 'language': 'belgian', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_28', 'language': 'belgian', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_29', 'language': 'belgian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_30', 'language': 'belgian', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_31', 'language': 'belgian', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_32', 'language': 'belgian', 'city': 'vilnius', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_33', 'language': 'belgian', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_34', 'language': 'belgian', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_35', 'language': 'belgian', 'city': 'valletta', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_36', 'language': 'luxembourgish', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_37', 'language': 'luxembourgish', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_38', 'language': 'luxembourgish', 'city': 'madrid', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_39', 'language': 'luxembourgish', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_40', 'language': 'luxembourgish', 'city': 'sofia', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_41', 'language': 'luxembourgish', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_42', 'language': 'luxembourgish', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_43', 'language': 'luxembourgish', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_44', 'language': 'luxembourgish', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_45', 'language': 'dutch', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_46', 'language': 'dutch', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_47', 'language': 'dutch', 'city': 'madrid', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_48', 'language': 'dutch', 'city': 'rome', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_49', 'language': 'dutch', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_50', 'language': 'dutch', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_51', 'language': 'dutch', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_52', 'language': 'dutch', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_53', 'language': 'dutch', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_54', 'language': 'french', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_55', 'language': 'french', 'city': 'copenhagen', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_56', 'language': 'french', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_57', 'language': 'french', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_58', 'language': 'french', 'city': 'sofia', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_59', 'language': 'french', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_60', 'language': 'french', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_61', 'language': 'french', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_62', 'language': 'french', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_63', 'language': 'finnish', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_64', 'language': 'finnish', 'city': 'copenhagen', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_65', 'language': 'finnish', 'city': 'madrid', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_66', 'language': 'finnish', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_67', 'language': 'finnish', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_68', 'language': 'finnish', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_69', 'language': 'finnish', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_70', 'language': 'finnish', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_71', 'language': 'finnish', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_72', 'language': 'austrian', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_73', 'language': 'austrian', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_74', 'language': 'austrian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_75', 'language': 'austrian', 'city': 'rome', 'date': 2, 'mobile': 0}

{'avatar_name': 'avatar_d38_step7j_0_76', 'language': 'austrian', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_77', 'language': 'austrian', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_78', 'language': 'austrian', 'city': 'vienna', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_79', 'language': 'austrian', 'city': 'amsterdam', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_80', 'language': 'austrian', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_81', 'language': 'slovakian', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_82', 'language': 'slovakian', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_83', 'language': 'slovakian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_84', 'language': 'slovakian', 'city': 'rome', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_85', 'language': 'slovakian', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_86', 'language': 'slovakian', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_87', 'language': 'slovakian', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_88', 'language': 'slovakian', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_89', 'language': 'slovakian', 'city': 'valletta', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_90', 'language': 'hungarian', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_91', 'language': 'hungarian', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_92', 'language': 'hungarian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_93', 'language': 'hungarian', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_94', 'language': 'hungarian', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_95', 'language': 'hungarian', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_96', 'language': 'hungarian', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_97', 'language': 'hungarian', 'city': 'amsterdam', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_98', 'language': 'hungarian', 'city': 'valletta', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_99', 'language': 'bulgarian', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_100', 'language': 'bulgarian', 'city': 'copenhagen', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_101', 'language': 'bulgarian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_102', 'language': 'bulgarian', 'city': 'rome', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_103', 'language': 'bulgarian', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_104', 'language': 'bulgarian', 'city': 'vilnius', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_105', 'language': 'bulgarian', 'city': 'vienna', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_106', 'language': 'bulgarian', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_107', 'language': 'bulgarian', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_108', 'language': 'danish', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_109', 'language': 'danish', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_110', 'language': 'danish', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_111', 'language': 'danish', 'city': 'rome', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_112', 'language': 'danish', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_113', 'language': 'danish', 'city': 'vilnius', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_114', 'language': 'danish', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_115', 'language': 'danish', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_116', 'language': 'danish', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_117', 'language': 'greek', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_118', 'language': 'greek', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_119', 'language': 'greek', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_120', 'language': 'greek', 'city': 'rome', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_121', 'language': 'greek', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_122', 'language': 'greek', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_123', 'language': 'greek', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_124', 'language': 'greek', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_125', 'language': 'greek', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_126', 'language': 'croatian', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_127', 'language': 'croatian', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_128', 'language': 'croatian', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_129', 'language': 'croatian', 'city': 'rome', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_130', 'language': 'croatian', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_131', 'language': 'croatian', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_132', 'language': 'croatian', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_133', 'language': 'croatian', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_134', 'language': 'croatian', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_135', 'language': 'polish', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_136', 'language': 'polish', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_137', 'language': 'polish', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_138', 'language': 'polish', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_139', 'language': 'polish', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_140', 'language': 'polish', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_141', 'language': 'polish', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_142', 'language': 'polish', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_143', 'language': 'polish', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_144', 'language': 'german', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_145', 'language': 'german', 'city': 'copenhagen', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_146', 'language': 'german', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_147', 'language': 'german', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_148', 'language': 'german', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_149', 'language': 'german', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_150', 'language': 'german', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_151', 'language': 'german', 'city': 'amsterdam', 'date': 2, 'mobile': 0}

{'avatar_name': 'avatar_d34_step7j_0_152', 'language': 'german', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_153', 'language': 'spanish', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_154', 'language': 'spanish', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_155', 'language': 'spanish', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_156', 'language': 'spanish', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_157', 'language': 'spanish', 'city': 'sofia', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_158', 'language': 'spanish', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_159', 'language': 'spanish', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_160', 'language': 'spanish', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_161', 'language': 'spanish', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_162', 'language': 'estonian', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_163', 'language': 'estonian', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_164', 'language': 'estonian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_165', 'language': 'estonian', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_166', 'language': 'estonian', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_167', 'language': 'estonian', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_168', 'language': 'estonian', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_169', 'language': 'estonian', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_170', 'language': 'estonian', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_171', 'language': 'lithuanian', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_172', 'language': 'lithuanian', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_173', 'language': 'lithuanian', 'city': 'madrid', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_174', 'language': 'lithuanian', 'city': 'rome', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_175', 'language': 'lithuanian', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_176', 'language': 'lithuanian', 'city': 'vilnius', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_177', 'language': 'lithuanian', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_178', 'language': 'lithuanian', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_179', 'language': 'lithuanian', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_180', 'language': 'cypriot', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_181', 'language': 'cypriot', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_182', 'language': 'cypriot', 'city': 'madrid', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_183', 'language': 'cypriot', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_184', 'language': 'cypriot', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_185', 'language': 'cypriot', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_186', 'language': 'cypriot', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_187', 'language': 'cypriot', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_188', 'language': 'cypriot', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_189', 'language': 'latvian', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_190', 'language': 'latvian', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_191', 'language': 'latvian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_192', 'language': 'latvian', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_193', 'language': 'latvian', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_194', 'language': 'latvian', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_195', 'language': 'latvian', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_196', 'language': 'latvian', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_197', 'language': 'latvian', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_198', 'language': 'irish', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_199', 'language': 'irish', 'city': 'copenhagen', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_200', 'language': 'irish', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_201', 'language': 'irish', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_202', 'language': 'irish', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_203', 'language': 'irish', 'city': 'vilnius', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_204', 'language': 'irish', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_205', 'language': 'irish', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_206', 'language': 'irish', 'city': 'valletta', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_207', 'language': 'italian', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_208', 'language': 'italian', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_209', 'language': 'italian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_210', 'language': 'italian', 'city': 'rome', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_211', 'language': 'italian', 'city': 'sofia', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_212', 'language': 'italian', 'city': 'vilnius', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_213', 'language': 'italian', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_214', 'language': 'italian', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_215', 'language': 'italian', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_216', 'language': 'slovene', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_217', 'language': 'slovene', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_218', 'language': 'slovene', 'city': 'madrid', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_219', 'language': 'slovene', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_220', 'language': 'slovene', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_221', 'language': 'slovene', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_222', 'language': 'slovene', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_223', 'language': 'slovene', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_224', 'language': 'slovene', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_225', 'language': 'czech', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_226', 'language': 'czech', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_227', 'language': 'czech', 'city': 'madrid', 'date': 0, 'mobile': 0}

{'avatar_name': 'avatar_d35_step7j_0_228', 'language': 'czech', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_229', 'language': 'czech', 'city': 'sofia', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_230', 'language': 'czech', 'city': 'vilnius', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_231', 'language': 'czech', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_232', 'language': 'czech', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_233', 'language': 'czech', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_234', 'language': 'portuguese', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_235', 'language': 'portuguese', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_236', 'language': 'portuguese', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_237', 'language': 'portuguese', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_238', 'language': 'portuguese', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_239', 'language': 'portuguese', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_240', 'language': 'portuguese', 'city': 'vienna', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_241', 'language': 'portuguese', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_242', 'language': 'portuguese', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_1_486', 'language': 'romanian', 'city': 'paris', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_487', 'language': 'romanian', 'city': 'copenhagen', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_488', 'language': 'romanian', 'city': 'madrid', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_489', 'language': 'romanian', 'city': 'rome', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_490', 'language': 'romanian', 'city': 'sofia', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_491', 'language': 'romanian', 'city': 'vilnius', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_492', 'language': 'romanian', 'city': 'vienna', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_493', 'language': 'romanian', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_494', 'language': 'romanian', 'city': 'valletta', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_495', 'language': 'swedish', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_496', 'language': 'swedish', 'city': 'copenhagen', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_497', 'language': 'swedish', 'city': 'madrid', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_498', 'language': 'swedish', 'city': 'rome', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_499', 'language': 'swedish', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_500', 'language': 'swedish', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_501', 'language': 'swedish', 'city': 'vienna', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_502', 'language': 'swedish', 'city': 'amsterdam', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_503', 'language': 'swedish', 'city': 'valletta', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_504', 'language': 'maltese', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_505', 'language': 'maltese', 'city': 'copenhagen', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_506', 'language': 'maltese', 'city': 'madrid', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_507', 'language': 'maltese', 'city': 'rome', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_508', 'language': 'maltese', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_509', 'language': 'maltese', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_510', 'language': 'maltese', 'city': 'vienna', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_511', 'language': 'maltese', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_512', 'language': 'maltese', 'city': 'valletta', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_513', 'language': 'belgian', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_514', 'language': 'belgian', 'city': 'copenhagen', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_515', 'language': 'belgian', 'city': 'madrid', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_516', 'language': 'belgian', 'city': 'rome', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_517', 'language': 'belgian', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_518', 'language': 'belgian', 'city': 'vilnius', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_519', 'language': 'belgian', 'city': 'vienna', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_520', 'language': 'belgian', 'city': 'amsterdam', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_521', 'language': 'belgian', 'city': 'valletta', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_522', 'language': 'luxembourgish', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_523', 'language': 'luxembourgish', 'city': 'copenhagen', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_524', 'language': 'luxembourgish', 'city': 'madrid', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_525', 'language': 'luxembourgish', 'city': 'rome', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_526', 'language': 'luxembourgish', 'city': 'sofia', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_527', 'language': 'luxembourgish', 'city': 'vilnius', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_528', 'language': 'luxembourgish', 'city': 'vienna', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_529', 'language': 'luxembourgish', 'city': 'amsterdam', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_530', 'language': 'luxembourgish', 'city': 'valletta', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_531', 'language': 'dutch', 'city': 'paris', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_532', 'language': 'dutch', 'city': 'copenhagen', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_533', 'language': 'dutch', 'city': 'madrid', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_534', 'language': 'dutch', 'city': 'rome', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_535', 'language': 'dutch', 'city': 'sofia', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_536', 'language': 'dutch', 'city': 'vilnius', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_537', 'language': 'dutch', 'city': 'vienna', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_538', 'language': 'dutch', 'city': 'amsterdam', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_539', 'language': 'dutch', 'city': 'valletta', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_540', 'language': 'french', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_541', 'language': 'french', 'city': 'copenhagen', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_542', 'language': 'french', 'city': 'madrid', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_543', 'language': 'french', 'city': 'rome', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_544', 'language': 'french', 'city': 'sofia', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_545', 'language': 'french', 'city': 'vilnius', 'date': 0, 'mobile': 1}

{'avatar_name': 'avatar_d38_step7j_1_546', 'language': 'french', 'city': 'vienna', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_547', 'language': 'french', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_548', 'language': 'french', 'city': 'valletta', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_549', 'language': 'finnish', 'city': 'paris', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_550', 'language': 'finnish', 'city': 'copenhagen', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_551', 'language': 'finnish', 'city': 'madrid', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_552', 'language': 'finnish', 'city': 'rome', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_553', 'language': 'finnish', 'city': 'sofia', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_554', 'language': 'finnish', 'city': 'vilnius', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_555', 'language': 'finnish', 'city': 'vienna', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_556', 'language': 'finnish', 'city': 'amsterdam', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_557', 'language': 'finnish', 'city': 'valletta', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_558', 'language': 'austrian', 'city': 'paris', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_559', 'language': 'austrian', 'city': 'copenhagen', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_560', 'language': 'austrian', 'city': 'madrid', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_561', 'language': 'austrian', 'city': 'rome', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_562', 'language': 'austrian', 'city': 'sofia', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_563', 'language': 'austrian', 'city': 'vilnius', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_564', 'language': 'austrian', 'city': 'vienna', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_565', 'language': 'austrian', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_566', 'language': 'austrian', 'city': 'valletta', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_567', 'language': 'slovakian', 'city': 'paris', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_568', 'language': 'slovakian', 'city': 'copenhagen', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_569', 'language': 'slovakian', 'city': 'madrid', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_570', 'language': 'slovakian', 'city': 'rome', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_571', 'language': 'slovakian', 'city': 'sofia', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_572', 'language': 'slovakian', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_573', 'language': 'slovakian', 'city': 'vienna', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_574', 'language': 'slovakian', 'city': 'amsterdam', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_575', 'language': 'slovakian', 'city': 'valletta', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_576', 'language': 'hungarian', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_577', 'language': 'hungarian', 'city': 'copenhagen', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_578', 'language': 'hungarian', 'city': 'madrid', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_579', 'language': 'hungarian', 'city': 'rome', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_580', 'language': 'hungarian', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_581', 'language': 'hungarian', 'city': 'vilnius', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_582', 'language': 'hungarian', 'city': 'vienna', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_583', 'language': 'hungarian', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_584', 'language': 'hungarian', 'city': 'valletta', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_585', 'language': 'bulgarian', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_586', 'language': 'bulgarian', 'city': 'copenhagen', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_587', 'language': 'bulgarian', 'city': 'madrid', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_588', 'language': 'bulgarian', 'city': 'rome', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_589', 'language': 'bulgarian', 'city': 'sofia', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_590', 'language': 'bulgarian', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_591', 'language': 'bulgarian', 'city': 'vienna', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_592', 'language': 'bulgarian', 'city': 'amsterdam', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_593', 'language': 'bulgarian', 'city': 'valletta', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_594', 'language': 'danish', 'city': 'paris', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_595', 'language': 'danish', 'city': 'copenhagen', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_596', 'language': 'danish', 'city': 'madrid', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_597', 'language': 'danish', 'city': 'rome', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_598', 'language': 'danish', 'city': 'sofia', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_599', 'language': 'danish', 'city': 'vilnius', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_600', 'language': 'danish', 'city': 'vienna', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_601', 'language': 'danish', 'city': 'amsterdam', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_602', 'language': 'danish', 'city': 'valletta', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_603', 'language': 'greek', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_604', 'language': 'greek', 'city': 'copenhagen', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_605', 'language': 'greek', 'city': 'madrid', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_606', 'language': 'greek', 'city': 'rome', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_607', 'language': 'greek', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_608', 'language': 'greek', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_609', 'language': 'greek', 'city': 'vienna', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_610', 'language': 'greek', 'city': 'amsterdam', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_611', 'language': 'greek', 'city': 'valletta', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_612', 'language': 'croatian', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_613', 'language': 'croatian', 'city': 'copenhagen', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_614', 'language': 'croatian', 'city': 'madrid', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_615', 'language': 'croatian', 'city': 'rome', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_616', 'language': 'croatian', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_617', 'language': 'croatian', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_618', 'language': 'croatian', 'city': 'vienna', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_619', 'language': 'croatian', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_620', 'language': 'croatian', 'city': 'valletta', 'date': 0, 'mobile': 1}

{'avatar_name': 'avatar_d34_step7j_1_621', 'language': 'polish', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_622', 'language': 'polish', 'city': 'copenhagen', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_623', 'language': 'polish', 'city': 'madrid', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_624', 'language': 'polish', 'city': 'rome', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_625', 'language': 'polish', 'city': 'sofia', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_626', 'language': 'polish', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_627', 'language': 'polish', 'city': 'vienna', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_628', 'language': 'polish', 'city': 'amsterdam', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_629', 'language': 'polish', 'city': 'valletta', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_630', 'language': 'german', 'city': 'paris', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_631', 'language': 'german', 'city': 'copenhagen', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_632', 'language': 'german', 'city': 'madrid', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_633', 'language': 'german', 'city': 'rome', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_634', 'language': 'german', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_635', 'language': 'german', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_636', 'language': 'german', 'city': 'vienna', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_637', 'language': 'german', 'city': 'amsterdam', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_638', 'language': 'german', 'city': 'valletta', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_639', 'language': 'spanish', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_640', 'language': 'spanish', 'city': 'copenhagen', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_641', 'language': 'spanish', 'city': 'madrid', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_642', 'language': 'spanish', 'city': 'rome', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_643', 'language': 'spanish', 'city': 'sofia', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_644', 'language': 'spanish', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_645', 'language': 'spanish', 'city': 'vienna', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_646', 'language': 'spanish', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_647', 'language': 'spanish', 'city': 'valletta', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_648', 'language': 'estonian', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_649', 'language': 'estonian', 'city': 'copenhagen', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_650', 'language': 'estonian', 'city': 'madrid', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_651', 'language': 'estonian', 'city': 'rome', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_652', 'language': 'estonian', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_653', 'language': 'estonian', 'city': 'vilnius', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_654', 'language': 'estonian', 'city': 'vienna', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_655', 'language': 'estonian', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_656', 'language': 'estonian', 'city': 'valletta', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_657', 'language': 'lithuanian', 'city': 'paris', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_658', 'language': 'lithuanian', 'city': 'copenhagen', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_659', 'language': 'lithuanian', 'city': 'madrid', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_660', 'language': 'lithuanian', 'city': 'rome', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_661', 'language': 'lithuanian', 'city': 'sofia', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_662', 'language': 'lithuanian', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_663', 'language': 'lithuanian', 'city': 'vienna', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_664', 'language': 'lithuanian', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_665', 'language': 'lithuanian', 'city': 'valletta', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_666', 'language': 'cypriot', 'city': 'paris', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_667', 'language': 'cypriot', 'city': 'copenhagen', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_668', 'language': 'cypriot', 'city': 'madrid', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_669', 'language': 'cypriot', 'city': 'rome', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_670', 'language': 'cypriot', 'city': 'sofia', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_671', 'language': 'cypriot', 'city': 'vilnius', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_672', 'language': 'cypriot', 'city': 'vienna', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_673', 'language': 'cypriot', 'city': 'amsterdam', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_674', 'language': 'cypriot', 'city': 'valletta', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_675', 'language': 'latvian', 'city': 'paris', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_676', 'language': 'latvian', 'city': 'copenhagen', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_677', 'language': 'latvian', 'city': 'madrid', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_678', 'language': 'latvian', 'city': 'rome', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_679', 'language': 'latvian', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_680', 'language': 'latvian', 'city': 'vilnius', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_681', 'language': 'latvian', 'city': 'vienna', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_682', 'language': 'latvian', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_683', 'language': 'latvian', 'city': 'valletta', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_684', 'language': 'irish', 'city': 'paris', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_685', 'language': 'irish', 'city': 'copenhagen', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_686', 'language': 'irish', 'city': 'madrid', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_687', 'language': 'irish', 'city': 'rome', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_688', 'language': 'irish', 'city': 'sofia', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_689', 'language': 'irish', 'city': 'vilnius', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_690', 'language': 'irish', 'city': 'vienna', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_691', 'language': 'irish', 'city': 'amsterdam', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_692', 'language': 'irish', 'city': 'valletta', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_693', 'language': 'italian', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_694', 'language': 'italian', 'city': 'copenhagen', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_695', 'language': 'italian', 'city': 'madrid', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_696', 'language': 'italian', 'city': 'rome', 'date': 3, 'mobile': 1}

{'avatar_name': 'avatar_d34_step7j_1_697', 'language': 'italian', 'city': 'sofia', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_698', 'language': 'italian', 'city': 'vilnius', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_699', 'language': 'italian', 'city': 'vienna', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_700', 'language': 'italian', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_701', 'language': 'italian', 'city': 'valletta', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_702', 'language': 'slovene', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_703', 'language': 'slovene', 'city': 'copenhagen', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_704', 'language': 'slovene', 'city': 'madrid', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_705', 'language': 'slovene', 'city': 'rome', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_706', 'language': 'slovene', 'city': 'sofia', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_707', 'language': 'slovene', 'city': 'vilnius', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_708', 'language': 'slovene', 'city': 'vienna', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_709', 'language': 'slovene', 'city': 'amsterdam', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_710', 'language': 'slovene', 'city': 'valletta', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_711', 'language': 'czech', 'city': 'paris', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_712', 'language': 'czech', 'city': 'copenhagen', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_713', 'language': 'czech', 'city': 'madrid', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_714', 'language': 'czech', 'city': 'rome', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_715', 'language': 'czech', 'city': 'sofia', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_716', 'language': 'czech', 'city': 'vilnius', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_717', 'language': 'czech', 'city': 'vienna', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_718', 'language': 'czech', 'city': 'amsterdam', 'date': 1, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_719', 'language': 'czech', 'city': 'valletta', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_720', 'language': 'portuguese', 'city': 'paris', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_721', 'language': 'portuguese', 'city': 'copenhagen', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_722', 'language': 'portuguese', 'city': 'madrid', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_723', 'language': 'portuguese', 'city': 'rome', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_724', 'language': 'portuguese', 'city': 'sofia', 'date': 3, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_725', 'language': 'portuguese', 'city': 'vilnius', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_726', 'language': 'portuguese', 'city': 'vienna', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_727', 'language': 'portuguese', 'city': 'amsterdam', 'date': 0, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_728', 'language': 'portuguese', 'city': 'valletta', 'date': 2, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_0_243', 'language': 'romanian', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_244', 'language': 'romanian', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_245', 'language': 'romanian', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_246', 'language': 'romanian', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_247', 'language': 'romanian', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_248', 'language': 'romanian', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_249', 'language': 'romanian', 'city': 'vienna', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_250', 'language': 'romanian', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_251', 'language': 'romanian', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_252', 'language': 'swedish', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_253', 'language': 'swedish', 'city': 'copenhagen', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_254', 'language': 'swedish', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_255', 'language': 'swedish', 'city': 'rome', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_256', 'language': 'swedish', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_257', 'language': 'swedish', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_258', 'language': 'swedish', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_259', 'language': 'swedish', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_260', 'language': 'swedish', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_261', 'language': 'maltese', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_262', 'language': 'maltese', 'city': 'copenhagen', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_263', 'language': 'maltese', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_264', 'language': 'maltese', 'city': 'rome', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_265', 'language': 'maltese', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_266', 'language': 'maltese', 'city': 'vilnius', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_267', 'language': 'maltese', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_268', 'language': 'maltese', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_269', 'language': 'maltese', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_270', 'language': 'belgian', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_271', 'language': 'belgian', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_272', 'language': 'belgian', 'city': 'madrid', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_273', 'language': 'belgian', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_274', 'language': 'belgian', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_275', 'language': 'belgian', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_276', 'language': 'belgian', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_277', 'language': 'belgian', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_278', 'language': 'belgian', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_279', 'language': 'luxembourgish', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_280', 'language': 'luxembourgish', 'city': 'copenhagen', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_281', 'language': 'luxembourgish', 'city': 'madrid', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_282', 'language': 'luxembourgish', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_283', 'language': 'luxembourgish', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_284', 'language': 'luxembourgish', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_285', 'language': 'luxembourgish', 'city': 'vienna', 'date': 0, 'mobile': 0}

{'avatar_name': 'avatar_d16_step3j_0_286', 'language': 'luxembourgish', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_287', 'language': 'luxembourgish', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_288', 'language': 'dutch', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_289', 'language': 'dutch', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_290', 'language': 'dutch', 'city': 'madrid', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_291', 'language': 'dutch', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_292', 'language': 'dutch', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_293', 'language': 'dutch', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_294', 'language': 'dutch', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_295', 'language': 'dutch', 'city': 'amsterdam', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_296', 'language': 'dutch', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_297', 'language': 'french', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_298', 'language': 'french', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_299', 'language': 'french', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_300', 'language': 'french', 'city': 'rome', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_301', 'language': 'french', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_302', 'language': 'french', 'city': 'vilnius', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_303', 'language': 'french', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_304', 'language': 'french', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_305', 'language': 'french', 'city': 'valletta', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_306', 'language': 'finnish', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_307', 'language': 'finnish', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_308', 'language': 'finnish', 'city': 'madrid', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_309', 'language': 'finnish', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_310', 'language': 'finnish', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_311', 'language': 'finnish', 'city': 'vilnius', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_312', 'language': 'finnish', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_313', 'language': 'finnish', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_314', 'language': 'finnish', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_315', 'language': 'austrian', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_316', 'language': 'austrian', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_317', 'language': 'austrian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_318', 'language': 'austrian', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_319', 'language': 'austrian', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_320', 'language': 'austrian', 'city': 'vilnius', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_321', 'language': 'austrian', 'city': 'vienna', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_322', 'language': 'austrian', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_323', 'language': 'austrian', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_324', 'language': 'slovakian', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_325', 'language': 'slovakian', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_326', 'language': 'slovakian', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_327', 'language': 'slovakian', 'city': 'rome', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_328', 'language': 'slovakian', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_329', 'language': 'slovakian', 'city': 'vilnius', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_330', 'language': 'slovakian', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_331', 'language': 'slovakian', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_332', 'language': 'slovakian', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_333', 'language': 'hungarian', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_334', 'language': 'hungarian', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_335', 'language': 'hungarian', 'city': 'madrid', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_336', 'language': 'hungarian', 'city': 'rome', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_337', 'language': 'hungarian', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_338', 'language': 'hungarian', 'city': 'vilnius', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_339', 'language': 'hungarian', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_340', 'language': 'hungarian', 'city': 'amsterdam', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_341', 'language': 'hungarian', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_342', 'language': 'bulgarian', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_343', 'language': 'bulgarian', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_344', 'language': 'bulgarian', 'city': 'madrid', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_345', 'language': 'bulgarian', 'city': 'rome', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_346', 'language': 'bulgarian', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_347', 'language': 'bulgarian', 'city': 'vilnius', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_348', 'language': 'bulgarian', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_349', 'language': 'bulgarian', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_350', 'language': 'bulgarian', 'city': 'valletta', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_351', 'language': 'danish', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_352', 'language': 'danish', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_353', 'language': 'danish', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_354', 'language': 'danish', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_355', 'language': 'danish', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_356', 'language': 'danish', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_357', 'language': 'danish', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_358', 'language': 'danish', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_359', 'language': 'danish', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_360', 'language': 'greek', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_361', 'language': 'greek', 'city': 'copenhagen', 'date': 0, 'mobile': 0}

{'avatar_name': 'avatar_d17_step3j_0_362', 'language': 'greek', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_363', 'language': 'greek', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_364', 'language': 'greek', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_365', 'language': 'greek', 'city': 'vilnius', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_366', 'language': 'greek', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_367', 'language': 'greek', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_368', 'language': 'greek', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_369', 'language': 'croatian', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_370', 'language': 'croatian', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_371', 'language': 'croatian', 'city': 'madrid', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_372', 'language': 'croatian', 'city': 'rome', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_373', 'language': 'croatian', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_374', 'language': 'croatian', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_375', 'language': 'croatian', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_376', 'language': 'croatian', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_377', 'language': 'croatian', 'city': 'valletta', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_378', 'language': 'polish', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_379', 'language': 'polish', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_380', 'language': 'polish', 'city': 'madrid', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_381', 'language': 'polish', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_382', 'language': 'polish', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_383', 'language': 'polish', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_384', 'language': 'polish', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_385', 'language': 'polish', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_386', 'language': 'polish', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_387', 'language': 'german', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_388', 'language': 'german', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_389', 'language': 'german', 'city': 'madrid', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_390', 'language': 'german', 'city': 'rome', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_391', 'language': 'german', 'city': 'sofia', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_392', 'language': 'german', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_393', 'language': 'german', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_394', 'language': 'german', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_395', 'language': 'german', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_396', 'language': 'spanish', 'city': 'paris', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_397', 'language': 'spanish', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_398', 'language': 'spanish', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_399', 'language': 'spanish', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_400', 'language': 'spanish', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_401', 'language': 'spanish', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_402', 'language': 'spanish', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_403', 'language': 'spanish', 'city': 'amsterdam', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_404', 'language': 'spanish', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_405', 'language': 'estonian', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_406', 'language': 'estonian', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_407', 'language': 'estonian', 'city': 'madrid', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_408', 'language': 'estonian', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_409', 'language': 'estonian', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_410', 'language': 'estonian', 'city': 'vilnius', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_411', 'language': 'estonian', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_412', 'language': 'estonian', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_413', 'language': 'estonian', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_414', 'language': 'lithuanian', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_415', 'language': 'lithuanian', 'city': 'copenhagen', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_416', 'language': 'lithuanian', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_417', 'language': 'lithuanian', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_418', 'language': 'lithuanian', 'city': 'sofia', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_419', 'language': 'lithuanian', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_420', 'language': 'lithuanian', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_421', 'language': 'lithuanian', 'city': 'amsterdam', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_422', 'language': 'lithuanian', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_423', 'language': 'cypriot', 'city': 'paris', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_424', 'language': 'cypriot', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_425', 'language': 'cypriot', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_426', 'language': 'cypriot', 'city': 'rome', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_427', 'language': 'cypriot', 'city': 'sofia', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_428', 'language': 'cypriot', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_429', 'language': 'cypriot', 'city': 'vienna', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_430', 'language': 'cypriot', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_431', 'language': 'cypriot', 'city': 'valletta', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_432', 'language': 'latvian', 'city': 'paris', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_433', 'language': 'latvian', 'city': 'copenhagen', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_434', 'language': 'latvian', 'city': 'madrid', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_435', 'language': 'latvian', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_436', 'language': 'latvian', 'city': 'sofia', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_437', 'language': 'latvian', 'city': 'vilnius', 'date': 1, 'mobile': 0}

{'avatar_name': 'avatar_d17_step3j_0_438', 'language': 'latvian', 'city': 'vienna', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_439', 'language': 'latvian', 'city': 'amsterdam', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_440', 'language': 'latvian', 'city': 'valletta', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_441', 'language': 'irish', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_442', 'language': 'irish', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_443', 'language': 'irish', 'city': 'madrid', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_444', 'language': 'irish', 'city': 'rome', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_445', 'language': 'irish', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_446', 'language': 'irish', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_447', 'language': 'irish', 'city': 'vienna', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_448', 'language': 'irish', 'city': 'amsterdam', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_449', 'language': 'irish', 'city': 'valletta', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_450', 'language': 'italian', 'city': 'paris', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_451', 'language': 'italian', 'city': 'copenhagen', 'date': 1, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_452', 'language': 'italian', 'city': 'madrid', 'date': 2, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_453', 'language': 'italian', 'city': 'rome', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_454', 'language': 'italian', 'city': 'sofia', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_455', 'language': 'italian', 'city': 'vilnius', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_456', 'language': 'italian', 'city': 'vienna', 'date': 3, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_457', 'language': 'italian', 'city': 'amsterdam', 'date': 0, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_458', 'language': 'italian', 'city': 'valletta', 'date': 2, 'mobile': 0}

In [ ]:
requests_5 = pd.read_csv('requests_5.csv', index_col=0)
display(requests_5)