# Tutoriel d'usage de l'API

In [1]:
import pandas
import numpy as np

Features = pandas.read_csv('features_hotels.csv')
Features
#Features['city'][]

,hotel_id,group,brand,city,parking,pool,children_policy
0,0,Yin Yang,Royal Lotus,paris,1,0,1
1,1,Independant,Independant,copenhagen,1,0,0
2,2,Independant,Independant,madrid,0,0,0
3,3,Independant,Independant,rome,1,0,0
4,4,Independant,Independant,sofia,1,0,0
...,...,...,...,...,...,...,...
994,994,Yin Yang,Ardisson,copenhagen,0,0,0
995,995,Chillton Worldwide,Quadrupletree,copenhagen,0,0,0
996,996,Accar Hotels,Navatel,vienna,0,0,0
997,997,Chillton Worldwide,Tripletree,madrid,0,0,0
998,998,Yin Yang,Royal Lotus,paris,0,0,0

In [2]:
city = Features['city'].unique()

In [4]:
Test = pandas.read_csv('test_set.csv')
Test

,index,order_requests,city,date,language,mobile,avatar_id,hotel_id,stock
0,0,1,vilnius,21,romanian,0,1,161,46
1,1,1,vilnius,21,romanian,0,1,187,32
2,2,1,vilnius,21,romanian,0,1,279,12
3,3,1,vilnius,21,romanian,0,1,395,10
4,4,1,vilnius,21,romanian,0,1,488,42
...,...,...,...,...,...,...,...,...,...
6639,6639,843,rome,5,irish,0,794,987,1
6640,6640,844,vienna,1,irish,1,794,26,1
6641,6641,844,vienna,1,irish,1,794,263,0
6642,6642,844,vienna,1,irish,1,794,456,0
6643,6643,844,vienna,1,irish,1,794,699,0

In [5]:
np.shape(city)

(9,)

In [6]:
language = Test['language'].unique()
language

array(['romanian', 'swedish', 'maltese', 'belgian', 'luxembourgish',
       'dutch', 'french', 'finnish', 'austrian', 'slovakian', 'hungarian',
       'bulgarian', 'danish', 'greek', 'croatian', 'polish', 'german',
       'spanish', 'estonian', 'lithuanian', 'cypriot', 'latvian', 'irish',
       'italian', 'slovene', 'czech', 'portuguese'], dtype=object)

In [7]:
np.shape(language)[0]

27

In [9]:
import random

In [10]:
a = random.randint(-2,2)
a

0

In [13]:
import requests
import pandas as pd
user_id = '0965ef50-4892-4e22-923c-236be6b36411'

In [130]:
'''matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])
pricing_requests = []

for h in range(1):
    for i in range(1):
        for j in range(1):
            for k in range(np.shape(city)[0]):
                a = random.randint(-2,2)
                name = "test2_avatar_d"+str(date[i] + a)+ '_'+str(step[i]) + str(mobile[h]) + '_' +str(compteur)
                params = {
                    "avatar_name": name ,
                    "language": language[j],
                    "city": city[k],
                    "date": date[i] + a,
                    "mobile": mobile[h],    
                }
                compteur +=1
                print(params)
    
                r1 = requests.post(path(f"avatars/{user_id}/{name}"))
                r1 = requests.get(path(f"pricing/{user_id}"), params=params)
                pricing_requests.append(
                    pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request'])
                )
                df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],name)], columns=['avatar_id', 'name'])
                matrix_avatar = matrix_avatar.append(df_tmp)
                
                
pricing_requests = pd.concat(pricing_requests)
matrix_avatar_df = pd.DataFrame(matrix_avatar)
matrix_merge = pd.merge(pricing_requests,matrix_avatar_df)'''

{'avatar_name': 'test2_avatar_d36_step7j_0_975', 'language': 'romanian', 'city': 'paris', 'date': 36, 'mobile': 0}
{'avatar_name': 'test2_avatar_d38_step7j_0_976', 'language': 'romanian', 'city': 'copenhagen', 'date': 38, 'mobile': 0}
{'avatar_name': 'test2_avatar_d37_step7j_0_977', 'language': 'romanian', 'city': 'madrid', 'date': 37, 'mobile': 0}
{'avatar_name': 'test2_avatar_d35_step7j_0_978', 'language': 'romanian', 'city': 'rome', 'date': 35, 'mobile': 0}
{'avatar_name': 'test2_avatar_d36_step7j_0_979', 'language': 'romanian', 'city': 'sofia', 'date': 36, 'mobile': 0}
{'avatar_name': 'test2_avatar_d37_step7j_0_980', 'language': 'romanian', 'city': 'vilnius', 'date': 37, 'mobile': 0}
{'avatar_name': 'test2_avatar_d38_step7j_0_981', 'language': 'romanian', 'city': 'vienna', 'date': 38, 'mobile': 0}
{'avatar_name': 'test2_avatar_d38_step7j_0_982', 'language': 'romanian', 'city': 'amsterdam', 'date': 38, 'mobile': 0}
{'avatar_name': 'test2_avatar_d38_step7j_0_983', 'language': 'romanian', 'city': 'valletta', 'date': 38, 'mobile': 0}

In [133]:
matrix_merge.to_csv('matrix_merge.csv')

In [121]:
matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])

In [122]:
pricing_requests = []
pricing_requests.append(
                    pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request'])
                )
df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],name)], columns=['avatar_id', 'name'])
matrix_avatar = matrix_avatar.append(df_tmp)

In [123]:
pricing_requests = pd.concat(pricing_requests)
pricing_requests.head()

   hotel_id  price  stock   city  date  language  mobile  avatar_id
0        95    250    174  paris    35  romanian       0      38458
1       884    175    111  paris    35  romanian       0      38458
2       579     79     35  paris    35  romanian       0      38458
3       684     80     32  paris    35  romanian       0      38458
4       825    161     80  paris    35  romanian       0      38458

In [124]:
pd.DataFrame(matrix_avatar)

  avatar_id                          name
0     38458  test_avatar_d35_step7j_0_973

In [128]:
matrix_merge = pd.merge(pricing_requests,matrix_avatar)
matrix_merge

,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,95,250,174,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973
1,884,175,111,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973
2,579,79,35,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973
3,684,80,32,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973
4,825,161,80,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973
...,...,...,...,...,...,...,...,...,...
151,741,169,76,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973
152,735,111,59,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973
153,885,170,74,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973
154,379,261,162,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973
155,558,84,31,paris,35,romanian,0,38458,test_avatar_d35_step7j_0_973

In [86]:
display(r1.json())

{'prices': [{'hotel_id': 95, 'price': 250, 'stock': 174},
  {'hotel_id': 884, 'price': 175, 'stock': 111},
  {'hotel_id': 579, 'price': 79, 'stock': 35},
  {'hotel_id': 684, 'price': 80, 'stock': 32},
  {'hotel_id': 825, 'price': 161, 'stock': 80},
  {'hotel_id': 560, 'price': 153, 'stock': 78},
  {'hotel_id': 323, 'price': 269, 'stock': 155},
  {'hotel_id': 912, 'price': 164, 'stock': 73},
  {'hotel_id': 842, 'price': 287, 'stock': 143},
  {'hotel_id': 130, 'price': 181, 'stock': 104},
  {'hotel_id': 526, 'price': 265, 'stock': 155},
  {'hotel_id': 419, 'price': 106, 'stock': 67},
  {'hotel_id': 299, 'price': 108, 'stock': 76},
  {'hotel_id': 314, 'price': 115, 'stock': 62},
  {'hotel_id': 631, 'price': 80, 'stock': 32},
  {'hotel_id': 199, 'price': 196, 'stock': 104},
  {'hotel_id': 866, 'price': 251, 'stock': 171},
  {'hotel_id': 975, 'price': 159, 'stock': 72},
  {'hotel_id': 222, 'price': 250, 'stock': 150},
  {'hotel_id': 182, 'price': 152, 'stock': 90},
  {'hotel_id': 946, 'price': 185, 'stock': 104},
  {'hotel_id': 790, 'price': 261, 'stock': 151},
  {'hotel_id': 782, 'price': 265, 'stock': 169},
  {'hotel_id': 708, 'price': 154, 'stock': 74},
  {'hotel_id': 911, 'price': 112, 'stock': 75},
  {'hotel_id': 942, 'price': 179, 'stock': 102},
  {'hotel_id': 910, 'price': 84, 'stock': 35},
  {'hotel_id': 858, 'price': 173, 'stock': 110},
  {'hotel_id': 580, 'price': 116, 'stock': 56},
  {'hotel_id': 41, 'price': 111, 'stock': 60},
  {'hotel_id': 785, 'price': 177, 'stock': 102},
  {'hotel_id': 645, 'price': 157, 'stock': 78},
  {'hotel_id': 339, 'price': 189, 'stock': 108},
  {'hotel_id': 216, 'price': 184, 'stock': 108},
  {'hotel_id': 148, 'price': 114, 'stock': 60},
  {'hotel_id': 274, 'price': 150, 'stock': 76},
  {'hotel_id': 257, 'price': 161, 'stock': 73},
  {'hotel_id': 571, 'price': 251, 'stock': 153},
  {'hotel_id': 700, 'price': 177, 'stock': 136},
  {'hotel_id': 62, 'price': 76, 'stock': 34},
  {'hotel_id': 972, 'price': 79, 'stock': 31},
  {'hotel_id': 599, 'price': 103, 'stock': 74},
  {'hotel_id': 14, 'price': 150, 'stock': 68},
  {'hotel_id': 612, 'price': 177, 'stock': 111},
  {'hotel_id': 121, 'price': 78, 'stock': 37},
  {'hotel_id': 841, 'price': 78, 'stock': 70},
  {'hotel_id': 602, 'price': 106, 'stock': 37},
  {'hotel_id': 522, 'price': 108, 'stock': 63},
  {'hotel_id': 65, 'price': 151, 'stock': 84},
  {'hotel_id': 308, 'price': 192, 'stock': 103},
  {'hotel_id': 595, 'price': 147, 'stock': 84},
  {'hotel_id': 357, 'price': 154, 'stock': 74},
  {'hotel_id': 582, 'price': 187, 'stock': 111},
  {'hotel_id': 24, 'price': 243, 'stock': 188},
  {'hotel_id': 392, 'price': 162, 'stock': 81},
  {'hotel_id': 584, 'price': 254, 'stock': 165},
  {'hotel_id': 573, 'price': 297, 'stock': 149},
  {'hotel_id': 290, 'price': 164, 'stock': 73},
  {'hotel_id': 492, 'price': 110, 'stock': 68},
  {'hotel_id': 176, 'price': 86, 'stock': 25},
  {'hotel_id': 634, 'price': 82, 'stock': 33},
  {'hotel_id': 756, 'price': 190, 'stock': 102},
  {'hotel_id': 447, 'price': 106, 'stock': 66},
  {'hotel_id': 123, 'price': 111, 'stock': 60},
  {'hotel_id': 188, 'price': 85, 'stock': 36},
  {'hotel_id': 617, 'price': 280, 'stock': 152},
  {'hotel_id': 412, 'price': 265, 'stock': 176},
  {'hotel_id': 614, 'price': 86, 'stock': 32},
  {'hotel_id': 534, 'price': 251, 'stock': 160},
  {'hotel_id': 477, 'price': 79, 'stock': 84},
  {'hotel_id': 823, 'price': 179, 'stock': 106},
  {'hotel_id': 851, 'price': 82, 'stock': 69},
  {'hotel_id': 69, 'price': 252, 'stock': 194},
  {'hotel_id': 56, 'price': 182, 'stock': 111},
  {'hotel_id': 776, 'price': 159, 'stock': 77},
  {'hotel_id': 937, 'price': 176, 'stock': 104},
  {'hotel_id': 731, 'price': 161, 'stock': 74},
  {'hotel_id': 259, 'price': 113, 'stock': 53},
  {'hotel_id': 17, 'price': 81, 'stock': 35},
  {'hotel_id': 640, 'price': 152, 'stock': 70},
  {'hotel_id': 736, 'price': 184, 'stock': 110},
  {'hotel_id': 397, 'price': 265, 'stock': 156},
  {'hotel_id': 540, 'price': 262, 'stock': 158},
  {'hotel_id': 227, 'price': 80, 'stock': 32},
  {'hotel_id': 795, 'price': 165, 'stock': 78},
  {'hotel_id': 863, 'price': 251, 'stock': 173},
  {'hotel_id': 327, 'price': 193, 'stock': 102},
  {'hotel_id': 467, 'price': 255, 'stock': 153},
  {'hotel_id': 21, 'price': 78, 'stock': 36},
  {'hotel_id': 359, 'price': 116, 'stock': 59},
  {'hotel_id': 949, 'price': 270, 'stock': 151},
  {'hotel_id': 162, 'price': 269, 'stock': 150},
  {'hotel_id': 792, 'price': 82, 'stock': 76},
  {'hotel_id': 207, 'price': 164, 'stock': 81},
  {'hotel_id': 837, 'price': 241, 'stock': 161},
  {'hotel_id': 663, 'price': 149, 'stock': 84},
  {'hotel_id': 150, 'price': 185, 'stock': 105},
  {'hotel_id': 629, 'price': 87, 'stock': 65},
  {'hotel_id': 248, 'price': 172, 'stock': 108},
  {'hotel_id': 115, 'price': 107, 'stock': 72},
  {'hotel_id': 28, 'price': 124, 'stock': 60},
  {'hotel_id': 970, 'price': 252, 'stock': 171},
  {'hotel_id': 576, 'price': 185, 'stock': 102},
  {'hotel_id': 254, 'price': 157, 'stock': 82},
  {'hotel_id': 742, 'price': 247, 'stock': 149},
  {'hotel_id': 133, 'price': 158, 'stock': 76},
  {'hotel_id': 94, 'price': 250, 'stock': 193},
  {'hotel_id': 192, 'price': 114, 'stock': 33},
  {'hotel_id': 797, 'price': 114, 'stock': 70},
  {'hotel_id': 331, 'price': 84, 'stock': 60},
  {'hotel_id': 577, 'price': 161, 'stock': 75},
  {'hotel_id': 734, 'price': 116, 'stock': 61},
  {'hotel_id': 165, 'price': 151, 'stock': 86},
  {'hotel_id': 767, 'price': 161, 'stock': 74},
  {'hotel_id': 49, 'price': 157, 'stock': 88},
  {'hotel_id': 705, 'price': 122, 'stock': 60},
  {'hotel_id': 948, 'price': 184, 'stock': 113},
  {'hotel_id': 306, 'price': 187, 'stock': 105},
  {'hotel_id': 889, 'price': 150, 'stock': 78},
  {'hotel_id': 119, 'price': 173, 'stock': 117},
  {'hotel_id': 808, 'price': 253, 'stock': 145},
  {'hotel_id': 722, 'price': 152, 'stock': 74},
  {'hotel_id': 564, 'price': 92, 'stock': 31},
  {'hotel_id': 803, 'price': 272, 'stock': 154},
  {'hotel_id': 980, 'price': 109, 'stock': 64},
  {'hotel_id': 159, 'price': 173, 'stock': 116},
  {'hotel_id': 421, 'price': 114, 'stock': 64},
  {'hotel_id': 853, 'price': 147, 'stock': 78},
  {'hotel_id': 436, 'price': 246, 'stock': 187},
  {'hotel_id': 868, 'price': 170, 'stock': 114},
  {'hotel_id': 903, 'price': 85, 'stock': 72},
  {'hotel_id': 0, 'price': 172, 'stock': 106},
  {'hotel_id': 342, 'price': 113, 'stock': 35},
  {'hotel_id': 225, 'price': 157, 'stock': 74},
  {'hotel_id': 132, 'price': 246, 'stock': 155},
  {'hotel_id': 415, 'price': 116, 'stock': 62},
  {'hotel_id': 27, 'price': 251, 'stock': 169},
  {'hotel_id': 748, 'price': 175, 'stock': 129},
  {'hotel_id': 738, 'price': 112, 'stock': 66},
  {'hotel_id': 963, 'price': 111, 'stock': 66},
  {'hotel_id': 817, 'price': 187, 'stock': 103},
  {'hotel_id': 66, 'price': 138, 'stock': 88},
  {'hotel_id': 882, 'price': 181, 'stock': 110},
  {'hotel_id': 229, 'price': 173, 'stock': 110},
  {'hotel_id': 338, 'price': 187, 'stock': 102},
  {'hotel_id': 986, 'price': 184, 'stock': 113},
  {'hotel_id': 656, 'price': 106, 'stock': 64},
  {'hotel_id': 926, 'price': 172, 'stock': 113},
  {'hotel_id': 29, 'price': 182, 'stock': 109},
  {'hotel_id': 723, 'price': 76, 'stock': 33},
  {'hotel_id': 998, 'price': 184, 'stock': 115},
  {'hotel_id': 741, 'price': 169, 'stock': 76},
  {'hotel_id': 735, 'price': 111, 'stock': 59},
  {'hotel_id': 885, 'price': 170, 'stock': 74},
  {'hotel_id': 379, 'price': 261, 'stock': 162},
  {'hotel_id': 558, 'price': 84, 'stock': 31}],
 'request': {'city': 'paris',
  'date': 35,
  'language': 'romanian',
  'mobile': 0,
  'avatar_id': 38458}}

In [ ]:
for r in requests:
    pricing_requests.append(
        pd.DataFrame(r.json()['prices']).assign(**r.json()['request'])
    )

pricing_requests = pd.concat(pricing_requests)
pricing_requests.head()

In [ ]:
import urllib.parse

domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)

In [16]:
'''#Premier script 
compteur = 0
i = 0
step = ['step7j_','step3j_']

# MOBILE 0, dÃ©part 36e jour avec step 7 jours
date = [36,16]
mobile = [0,1]

matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])
pricing_requests = []

for h in range(2):
    for i in range(2):
        for j in range(np.shape(language)[0]):
            for k in range(np.shape(city)[0]):
                a = random.randint(-2,2)
                name = "avatar_d"+str(date[i] + a)+ '_'+str(step[i]) + str(mobile[h]) + '_' +str(compteur)
                params = {
                    "avatar_name": name ,
                    "language": language[j],
                    "city": city[k],
                    "date": date[i] + a,
                    "mobile": mobile[h],    
                }
                compteur +=1
                print(params)
    
                r1 = requests.post(path(f"avatars/{user_id}/{name}"))
                r1 = requests.get(path(f"pricing/{user_id}"), params=params)
                pricing_requests.append(
                    pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request'])
                )
                df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],name)], columns=['avatar_id', 'name'])
                matrix_avatar = matrix_avatar.append(df_tmp)
                
                
pricing_requests = pd.concat(pricing_requests)
matrix_avatar_df = pd.DataFrame(matrix_avatar)
matrix_merge = pd.merge(pricing_requests,matrix_avatar_df)
matrix_merge.to_csv('matrix_merge.csv')'''

{'avatar_name': 'avatar_d35_step7j_0_0', 'language': 'romanian', 'city': 'paris', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_1', 'language': 'romanian', 'city': 'copenhagen', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_2', 'language': 'romanian', 'city': 'madrid', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_3', 'language': 'romanian', 'city': 'rome', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_4', 'language': 'romanian', 'city': 'sofia', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_5', 'language': 'romanian', 'city': 'vilnius', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_6', 'language': 'romanian', 'city': 'vienna', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_7', 'language': 'romanian', 'city': 'amsterdam', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_8', 'language': 'romanian', 'city': 'valletta', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_9', 'language': 'swedish', 'city': 'paris', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_10', 'language': 'swedish', 'city': 'copenhagen', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_11', 'language': 'swedish', 'city': 'madrid', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_12', 'language': 'swedish', 'city': 'rome', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_13', 'language': 'swedish', 'city': 'sofia', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_14', 'language': 'swedish', 'city': 'vilnius', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_15', 'language': 'swedish', 'city': 'vienna', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_16', 'language': 'swedish', 'city': 'amsterdam', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_17', 'language': 'swedish', 'city': 'valletta', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_18', 'language': 'maltese', 'city': 'paris', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_19', 'language': 'maltese', 'city': 'copenhagen', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_20', 'language': 'maltese', 'city': 'madrid', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_21', 'language': 'maltese', 'city': 'rome', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_22', 'language': 'maltese', 'city': 'sofia', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_23', 'language': 'maltese', 'city': 'vilnius', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_24', 'language': 'maltese', 'city': 'vienna', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_25', 'language': 'maltese', 'city': 'amsterdam', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_26', 'language': 'maltese', 'city': 'valletta', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_27', 'language': 'belgian', 'city': 'paris', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_28', 'language': 'belgian', 'city': 'copenhagen', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_29', 'language': 'belgian', 'city': 'madrid', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_30', 'language': 'belgian', 'city': 'rome', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_31', 'language': 'belgian', 'city': 'sofia', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_32', 'language': 'belgian', 'city': 'vilnius', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_33', 'language': 'belgian', 'city': 'vienna', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_34', 'language': 'belgian', 'city': 'amsterdam', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_35', 'language': 'belgian', 'city': 'valletta', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_36', 'language': 'luxembourgish', 'city': 'paris', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_37', 'language': 'luxembourgish', 'city': 'copenhagen', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_38', 'language': 'luxembourgish', 'city': 'madrid', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_39', 'language': 'luxembourgish', 'city': 'rome', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_40', 'language': 'luxembourgish', 'city': 'sofia', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_41', 'language': 'luxembourgish', 'city': 'vilnius', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_42', 'language': 'luxembourgish', 'city': 'vienna', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_43', 'language': 'luxembourgish', 'city': 'amsterdam', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_44', 'language': 'luxembourgish', 'city': 'valletta', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_45', 'language': 'dutch', 'city': 'paris', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_46', 'language': 'dutch', 'city': 'copenhagen', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_47', 'language': 'dutch', 'city': 'madrid', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_48', 'language': 'dutch', 'city': 'rome', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_49', 'language': 'dutch', 'city': 'sofia', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_50', 'language': 'dutch', 'city': 'vilnius', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_51', 'language': 'dutch', 'city': 'vienna', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_52', 'language': 'dutch', 'city': 'amsterdam', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_53', 'language': 'dutch', 'city': 'valletta', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_54', 'language': 'french', 'city': 'paris', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_55', 'language': 'french', 'city': 'copenhagen', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_56', 'language': 'french', 'city': 'madrid', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_57', 'language': 'french', 'city': 'rome', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_58', 'language': 'french', 'city': 'sofia', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_59', 'language': 'french', 'city': 'vilnius', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_60', 'language': 'french', 'city': 'vienna', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_61', 'language': 'french', 'city': 'amsterdam', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_62', 'language': 'french', 'city': 'valletta', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_63', 'language': 'finnish', 'city': 'paris', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_64', 'language': 'finnish', 'city': 'copenhagen', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_65', 'language': 'finnish', 'city': 'madrid', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_66', 'language': 'finnish', 'city': 'rome', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_67', 'language': 'finnish', 'city': 'sofia', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_68', 'language': 'finnish', 'city': 'vilnius', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_69', 'language': 'finnish', 'city': 'vienna', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_70', 'language': 'finnish', 'city': 'amsterdam', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_71', 'language': 'finnish', 'city': 'valletta', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_72', 'language': 'austrian', 'city': 'paris', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_73', 'language': 'austrian', 'city': 'copenhagen', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_74', 'language': 'austrian', 'city': 'madrid', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_75', 'language': 'austrian', 'city': 'rome', 'date': 37, 'mobile': 0}

{'avatar_name': 'avatar_d38_step7j_0_76', 'language': 'austrian', 'city': 'sofia', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_77', 'language': 'austrian', 'city': 'vilnius', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_78', 'language': 'austrian', 'city': 'vienna', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_79', 'language': 'austrian', 'city': 'amsterdam', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_80', 'language': 'austrian', 'city': 'valletta', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_81', 'language': 'slovakian', 'city': 'paris', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_82', 'language': 'slovakian', 'city': 'copenhagen', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_83', 'language': 'slovakian', 'city': 'madrid', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_84', 'language': 'slovakian', 'city': 'rome', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_85', 'language': 'slovakian', 'city': 'sofia', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_86', 'language': 'slovakian', 'city': 'vilnius', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_87', 'language': 'slovakian', 'city': 'vienna', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_88', 'language': 'slovakian', 'city': 'amsterdam', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_89', 'language': 'slovakian', 'city': 'valletta', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_90', 'language': 'hungarian', 'city': 'paris', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_91', 'language': 'hungarian', 'city': 'copenhagen', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_92', 'language': 'hungarian', 'city': 'madrid', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_93', 'language': 'hungarian', 'city': 'rome', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_94', 'language': 'hungarian', 'city': 'sofia', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_95', 'language': 'hungarian', 'city': 'vilnius', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_96', 'language': 'hungarian', 'city': 'vienna', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_97', 'language': 'hungarian', 'city': 'amsterdam', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_98', 'language': 'hungarian', 'city': 'valletta', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_99', 'language': 'bulgarian', 'city': 'paris', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_100', 'language': 'bulgarian', 'city': 'copenhagen', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_101', 'language': 'bulgarian', 'city': 'madrid', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_102', 'language': 'bulgarian', 'city': 'rome', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_103', 'language': 'bulgarian', 'city': 'sofia', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_104', 'language': 'bulgarian', 'city': 'vilnius', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_105', 'language': 'bulgarian', 'city': 'vienna', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_106', 'language': 'bulgarian', 'city': 'amsterdam', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_107', 'language': 'bulgarian', 'city': 'valletta', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_108', 'language': 'danish', 'city': 'paris', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_109', 'language': 'danish', 'city': 'copenhagen', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_110', 'language': 'danish', 'city': 'madrid', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_111', 'language': 'danish', 'city': 'rome', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_112', 'language': 'danish', 'city': 'sofia', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_113', 'language': 'danish', 'city': 'vilnius', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_114', 'language': 'danish', 'city': 'vienna', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_115', 'language': 'danish', 'city': 'amsterdam', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_116', 'language': 'danish', 'city': 'valletta', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_117', 'language': 'greek', 'city': 'paris', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_118', 'language': 'greek', 'city': 'copenhagen', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_119', 'language': 'greek', 'city': 'madrid', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_120', 'language': 'greek', 'city': 'rome', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_121', 'language': 'greek', 'city': 'sofia', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_122', 'language': 'greek', 'city': 'vilnius', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_123', 'language': 'greek', 'city': 'vienna', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_124', 'language': 'greek', 'city': 'amsterdam', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_125', 'language': 'greek', 'city': 'valletta', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_126', 'language': 'croatian', 'city': 'paris', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_127', 'language': 'croatian', 'city': 'copenhagen', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_128', 'language': 'croatian', 'city': 'madrid', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_129', 'language': 'croatian', 'city': 'rome', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_130', 'language': 'croatian', 'city': 'sofia', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_131', 'language': 'croatian', 'city': 'vilnius', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_132', 'language': 'croatian', 'city': 'vienna', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_133', 'language': 'croatian', 'city': 'amsterdam', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_134', 'language': 'croatian', 'city': 'valletta', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_135', 'language': 'polish', 'city': 'paris', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_136', 'language': 'polish', 'city': 'copenhagen', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_137', 'language': 'polish', 'city': 'madrid', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_138', 'language': 'polish', 'city': 'rome', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_139', 'language': 'polish', 'city': 'sofia', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_140', 'language': 'polish', 'city': 'vilnius', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_141', 'language': 'polish', 'city': 'vienna', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_142', 'language': 'polish', 'city': 'amsterdam', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_143', 'language': 'polish', 'city': 'valletta', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_144', 'language': 'german', 'city': 'paris', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_145', 'language': 'german', 'city': 'copenhagen', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_146', 'language': 'german', 'city': 'madrid', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_147', 'language': 'german', 'city': 'rome', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_148', 'language': 'german', 'city': 'sofia', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_149', 'language': 'german', 'city': 'vilnius', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_150', 'language': 'german', 'city': 'vienna', 'date': 37, 'mobile': 0}

{'avatar_name': 'avatar_d37_step7j_0_151', 'language': 'german', 'city': 'amsterdam', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_152', 'language': 'german', 'city': 'valletta', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_153', 'language': 'spanish', 'city': 'paris', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_154', 'language': 'spanish', 'city': 'copenhagen', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_155', 'language': 'spanish', 'city': 'madrid', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_156', 'language': 'spanish', 'city': 'rome', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_157', 'language': 'spanish', 'city': 'sofia', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_158', 'language': 'spanish', 'city': 'vilnius', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_159', 'language': 'spanish', 'city': 'vienna', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_160', 'language': 'spanish', 'city': 'amsterdam', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_161', 'language': 'spanish', 'city': 'valletta', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_162', 'language': 'estonian', 'city': 'paris', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_163', 'language': 'estonian', 'city': 'copenhagen', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_164', 'language': 'estonian', 'city': 'madrid', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_165', 'language': 'estonian', 'city': 'rome', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_166', 'language': 'estonian', 'city': 'sofia', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_167', 'language': 'estonian', 'city': 'vilnius', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_168', 'language': 'estonian', 'city': 'vienna', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_169', 'language': 'estonian', 'city': 'amsterdam', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_170', 'language': 'estonian', 'city': 'valletta', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_171', 'language': 'lithuanian', 'city': 'paris', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_172', 'language': 'lithuanian', 'city': 'copenhagen', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_173', 'language': 'lithuanian', 'city': 'madrid', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_174', 'language': 'lithuanian', 'city': 'rome', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_175', 'language': 'lithuanian', 'city': 'sofia', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_176', 'language': 'lithuanian', 'city': 'vilnius', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_177', 'language': 'lithuanian', 'city': 'vienna', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_178', 'language': 'lithuanian', 'city': 'amsterdam', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_179', 'language': 'lithuanian', 'city': 'valletta', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_180', 'language': 'cypriot', 'city': 'paris', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_181', 'language': 'cypriot', 'city': 'copenhagen', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_182', 'language': 'cypriot', 'city': 'madrid', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_183', 'language': 'cypriot', 'city': 'rome', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_184', 'language': 'cypriot', 'city': 'sofia', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_185', 'language': 'cypriot', 'city': 'vilnius', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_186', 'language': 'cypriot', 'city': 'vienna', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_187', 'language': 'cypriot', 'city': 'amsterdam', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_188', 'language': 'cypriot', 'city': 'valletta', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_189', 'language': 'latvian', 'city': 'paris', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_190', 'language': 'latvian', 'city': 'copenhagen', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_191', 'language': 'latvian', 'city': 'madrid', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_192', 'language': 'latvian', 'city': 'rome', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_193', 'language': 'latvian', 'city': 'sofia', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_194', 'language': 'latvian', 'city': 'vilnius', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_195', 'language': 'latvian', 'city': 'vienna', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_196', 'language': 'latvian', 'city': 'amsterdam', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_197', 'language': 'latvian', 'city': 'valletta', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_198', 'language': 'irish', 'city': 'paris', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_199', 'language': 'irish', 'city': 'copenhagen', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_200', 'language': 'irish', 'city': 'madrid', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_201', 'language': 'irish', 'city': 'rome', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_202', 'language': 'irish', 'city': 'sofia', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_203', 'language': 'irish', 'city': 'vilnius', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_204', 'language': 'irish', 'city': 'vienna', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_205', 'language': 'irish', 'city': 'amsterdam', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_206', 'language': 'irish', 'city': 'valletta', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_207', 'language': 'italian', 'city': 'paris', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_208', 'language': 'italian', 'city': 'copenhagen', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_209', 'language': 'italian', 'city': 'madrid', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_210', 'language': 'italian', 'city': 'rome', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_211', 'language': 'italian', 'city': 'sofia', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_212', 'language': 'italian', 'city': 'vilnius', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_213', 'language': 'italian', 'city': 'vienna', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_214', 'language': 'italian', 'city': 'amsterdam', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_215', 'language': 'italian', 'city': 'valletta', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_216', 'language': 'slovene', 'city': 'paris', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_217', 'language': 'slovene', 'city': 'copenhagen', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_218', 'language': 'slovene', 'city': 'madrid', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_219', 'language': 'slovene', 'city': 'rome', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_220', 'language': 'slovene', 'city': 'sofia', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_221', 'language': 'slovene', 'city': 'vilnius', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_222', 'language': 'slovene', 'city': 'vienna', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_223', 'language': 'slovene', 'city': 'amsterdam', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_224', 'language': 'slovene', 'city': 'valletta', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_225', 'language': 'czech', 'city': 'paris', 'date': 36, 'mobile': 0}

{'avatar_name': 'avatar_d36_step7j_0_226', 'language': 'czech', 'city': 'copenhagen', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_227', 'language': 'czech', 'city': 'madrid', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_228', 'language': 'czech', 'city': 'rome', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_229', 'language': 'czech', 'city': 'sofia', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_230', 'language': 'czech', 'city': 'vilnius', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_231', 'language': 'czech', 'city': 'vienna', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_232', 'language': 'czech', 'city': 'amsterdam', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_233', 'language': 'czech', 'city': 'valletta', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d37_step7j_0_234', 'language': 'portuguese', 'city': 'paris', 'date': 37, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_235', 'language': 'portuguese', 'city': 'copenhagen', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_236', 'language': 'portuguese', 'city': 'madrid', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_237', 'language': 'portuguese', 'city': 'rome', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d35_step7j_0_238', 'language': 'portuguese', 'city': 'sofia', 'date': 35, 'mobile': 0}
{'avatar_name': 'avatar_d34_step7j_0_239', 'language': 'portuguese', 'city': 'vilnius', 'date': 34, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_240', 'language': 'portuguese', 'city': 'vienna', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_0_241', 'language': 'portuguese', 'city': 'amsterdam', 'date': 36, 'mobile': 0}
{'avatar_name': 'avatar_d38_step7j_0_242', 'language': 'portuguese', 'city': 'valletta', 'date': 38, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_243', 'language': 'romanian', 'city': 'paris', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_244', 'language': 'romanian', 'city': 'copenhagen', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_245', 'language': 'romanian', 'city': 'madrid', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_246', 'language': 'romanian', 'city': 'rome', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_247', 'language': 'romanian', 'city': 'sofia', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_248', 'language': 'romanian', 'city': 'vilnius', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_249', 'language': 'romanian', 'city': 'vienna', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_250', 'language': 'romanian', 'city': 'amsterdam', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_251', 'language': 'romanian', 'city': 'valletta', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_252', 'language': 'swedish', 'city': 'paris', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_253', 'language': 'swedish', 'city': 'copenhagen', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_254', 'language': 'swedish', 'city': 'madrid', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_255', 'language': 'swedish', 'city': 'rome', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_256', 'language': 'swedish', 'city': 'sofia', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_257', 'language': 'swedish', 'city': 'vilnius', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_258', 'language': 'swedish', 'city': 'vienna', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_259', 'language': 'swedish', 'city': 'amsterdam', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_260', 'language': 'swedish', 'city': 'valletta', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_261', 'language': 'maltese', 'city': 'paris', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_262', 'language': 'maltese', 'city': 'copenhagen', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_263', 'language': 'maltese', 'city': 'madrid', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_264', 'language': 'maltese', 'city': 'rome', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_265', 'language': 'maltese', 'city': 'sofia', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_266', 'language': 'maltese', 'city': 'vilnius', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_267', 'language': 'maltese', 'city': 'vienna', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_268', 'language': 'maltese', 'city': 'amsterdam', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_269', 'language': 'maltese', 'city': 'valletta', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_270', 'language': 'belgian', 'city': 'paris', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_271', 'language': 'belgian', 'city': 'copenhagen', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_272', 'language': 'belgian', 'city': 'madrid', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_273', 'language': 'belgian', 'city': 'rome', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_274', 'language': 'belgian', 'city': 'sofia', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_275', 'language': 'belgian', 'city': 'vilnius', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_276', 'language': 'belgian', 'city': 'vienna', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_277', 'language': 'belgian', 'city': 'amsterdam', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_278', 'language': 'belgian', 'city': 'valletta', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_279', 'language': 'luxembourgish', 'city': 'paris', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_280', 'language': 'luxembourgish', 'city': 'copenhagen', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_281', 'language': 'luxembourgish', 'city': 'madrid', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_282', 'language': 'luxembourgish', 'city': 'rome', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_283', 'language': 'luxembourgish', 'city': 'sofia', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_284', 'language': 'luxembourgish', 'city': 'vilnius', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_285', 'language': 'luxembourgish', 'city': 'vienna', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_286', 'language': 'luxembourgish', 'city': 'amsterdam', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_287', 'language': 'luxembourgish', 'city': 'valletta', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_288', 'language': 'dutch', 'city': 'paris', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_289', 'language': 'dutch', 'city': 'copenhagen', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_290', 'language': 'dutch', 'city': 'madrid', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_291', 'language': 'dutch', 'city': 'rome', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_292', 'language': 'dutch', 'city': 'sofia', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_293', 'language': 'dutch', 'city': 'vilnius', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_294', 'language': 'dutch', 'city': 'vienna', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_295', 'language': 'dutch', 'city': 'amsterdam', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_296', 'language': 'dutch', 'city': 'valletta', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_297', 'language': 'french', 'city': 'paris', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_298', 'language': 'french', 'city': 'copenhagen', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_299', 'language': 'french', 'city': 'madrid', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_300', 'language': 'french', 'city': 'rome', 'date': 16, 'mobile': 0}

{'avatar_name': 'avatar_d18_step3j_0_301', 'language': 'french', 'city': 'sofia', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_302', 'language': 'french', 'city': 'vilnius', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_303', 'language': 'french', 'city': 'vienna', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_304', 'language': 'french', 'city': 'amsterdam', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_305', 'language': 'french', 'city': 'valletta', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_306', 'language': 'finnish', 'city': 'paris', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_307', 'language': 'finnish', 'city': 'copenhagen', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_308', 'language': 'finnish', 'city': 'madrid', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_309', 'language': 'finnish', 'city': 'rome', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_310', 'language': 'finnish', 'city': 'sofia', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_311', 'language': 'finnish', 'city': 'vilnius', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_312', 'language': 'finnish', 'city': 'vienna', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_313', 'language': 'finnish', 'city': 'amsterdam', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_314', 'language': 'finnish', 'city': 'valletta', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_315', 'language': 'austrian', 'city': 'paris', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_316', 'language': 'austrian', 'city': 'copenhagen', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_317', 'language': 'austrian', 'city': 'madrid', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_318', 'language': 'austrian', 'city': 'rome', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_319', 'language': 'austrian', 'city': 'sofia', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_320', 'language': 'austrian', 'city': 'vilnius', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_321', 'language': 'austrian', 'city': 'vienna', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_322', 'language': 'austrian', 'city': 'amsterdam', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_323', 'language': 'austrian', 'city': 'valletta', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_324', 'language': 'slovakian', 'city': 'paris', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_325', 'language': 'slovakian', 'city': 'copenhagen', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_326', 'language': 'slovakian', 'city': 'madrid', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_327', 'language': 'slovakian', 'city': 'rome', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_328', 'language': 'slovakian', 'city': 'sofia', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_329', 'language': 'slovakian', 'city': 'vilnius', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_330', 'language': 'slovakian', 'city': 'vienna', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_331', 'language': 'slovakian', 'city': 'amsterdam', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_332', 'language': 'slovakian', 'city': 'valletta', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_333', 'language': 'hungarian', 'city': 'paris', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_334', 'language': 'hungarian', 'city': 'copenhagen', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_335', 'language': 'hungarian', 'city': 'madrid', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_336', 'language': 'hungarian', 'city': 'rome', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_337', 'language': 'hungarian', 'city': 'sofia', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_338', 'language': 'hungarian', 'city': 'vilnius', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_339', 'language': 'hungarian', 'city': 'vienna', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_340', 'language': 'hungarian', 'city': 'amsterdam', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_341', 'language': 'hungarian', 'city': 'valletta', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_342', 'language': 'bulgarian', 'city': 'paris', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_343', 'language': 'bulgarian', 'city': 'copenhagen', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_344', 'language': 'bulgarian', 'city': 'madrid', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_345', 'language': 'bulgarian', 'city': 'rome', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_346', 'language': 'bulgarian', 'city': 'sofia', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_347', 'language': 'bulgarian', 'city': 'vilnius', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_348', 'language': 'bulgarian', 'city': 'vienna', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_349', 'language': 'bulgarian', 'city': 'amsterdam', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_350', 'language': 'bulgarian', 'city': 'valletta', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_351', 'language': 'danish', 'city': 'paris', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_352', 'language': 'danish', 'city': 'copenhagen', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_353', 'language': 'danish', 'city': 'madrid', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_354', 'language': 'danish', 'city': 'rome', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_355', 'language': 'danish', 'city': 'sofia', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_356', 'language': 'danish', 'city': 'vilnius', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_357', 'language': 'danish', 'city': 'vienna', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_358', 'language': 'danish', 'city': 'amsterdam', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_359', 'language': 'danish', 'city': 'valletta', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_360', 'language': 'greek', 'city': 'paris', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_361', 'language': 'greek', 'city': 'copenhagen', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_362', 'language': 'greek', 'city': 'madrid', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_363', 'language': 'greek', 'city': 'rome', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_364', 'language': 'greek', 'city': 'sofia', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_365', 'language': 'greek', 'city': 'vilnius', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_366', 'language': 'greek', 'city': 'vienna', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_367', 'language': 'greek', 'city': 'amsterdam', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_368', 'language': 'greek', 'city': 'valletta', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_369', 'language': 'croatian', 'city': 'paris', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_370', 'language': 'croatian', 'city': 'copenhagen', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_371', 'language': 'croatian', 'city': 'madrid', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_372', 'language': 'croatian', 'city': 'rome', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_373', 'language': 'croatian', 'city': 'sofia', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_374', 'language': 'croatian', 'city': 'vilnius', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_375', 'language': 'croatian', 'city': 'vienna', 'date': 15, 'mobile': 0}

{'avatar_name': 'avatar_d16_step3j_0_376', 'language': 'croatian', 'city': 'amsterdam', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_377', 'language': 'croatian', 'city': 'valletta', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_378', 'language': 'polish', 'city': 'paris', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_379', 'language': 'polish', 'city': 'copenhagen', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_380', 'language': 'polish', 'city': 'madrid', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_381', 'language': 'polish', 'city': 'rome', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_382', 'language': 'polish', 'city': 'sofia', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_383', 'language': 'polish', 'city': 'vilnius', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_384', 'language': 'polish', 'city': 'vienna', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_385', 'language': 'polish', 'city': 'amsterdam', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_386', 'language': 'polish', 'city': 'valletta', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_387', 'language': 'german', 'city': 'paris', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_388', 'language': 'german', 'city': 'copenhagen', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_389', 'language': 'german', 'city': 'madrid', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_390', 'language': 'german', 'city': 'rome', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_391', 'language': 'german', 'city': 'sofia', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_392', 'language': 'german', 'city': 'vilnius', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_393', 'language': 'german', 'city': 'vienna', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_394', 'language': 'german', 'city': 'amsterdam', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_395', 'language': 'german', 'city': 'valletta', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_396', 'language': 'spanish', 'city': 'paris', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_397', 'language': 'spanish', 'city': 'copenhagen', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_398', 'language': 'spanish', 'city': 'madrid', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_399', 'language': 'spanish', 'city': 'rome', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_400', 'language': 'spanish', 'city': 'sofia', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_401', 'language': 'spanish', 'city': 'vilnius', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_402', 'language': 'spanish', 'city': 'vienna', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_403', 'language': 'spanish', 'city': 'amsterdam', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_404', 'language': 'spanish', 'city': 'valletta', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_405', 'language': 'estonian', 'city': 'paris', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_406', 'language': 'estonian', 'city': 'copenhagen', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_407', 'language': 'estonian', 'city': 'madrid', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_408', 'language': 'estonian', 'city': 'rome', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_409', 'language': 'estonian', 'city': 'sofia', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_410', 'language': 'estonian', 'city': 'vilnius', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_411', 'language': 'estonian', 'city': 'vienna', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_412', 'language': 'estonian', 'city': 'amsterdam', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_413', 'language': 'estonian', 'city': 'valletta', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_414', 'language': 'lithuanian', 'city': 'paris', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_415', 'language': 'lithuanian', 'city': 'copenhagen', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_416', 'language': 'lithuanian', 'city': 'madrid', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_417', 'language': 'lithuanian', 'city': 'rome', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_418', 'language': 'lithuanian', 'city': 'sofia', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_419', 'language': 'lithuanian', 'city': 'vilnius', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_420', 'language': 'lithuanian', 'city': 'vienna', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_421', 'language': 'lithuanian', 'city': 'amsterdam', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_422', 'language': 'lithuanian', 'city': 'valletta', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_423', 'language': 'cypriot', 'city': 'paris', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_424', 'language': 'cypriot', 'city': 'copenhagen', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_425', 'language': 'cypriot', 'city': 'madrid', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_426', 'language': 'cypriot', 'city': 'rome', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_427', 'language': 'cypriot', 'city': 'sofia', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_428', 'language': 'cypriot', 'city': 'vilnius', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_429', 'language': 'cypriot', 'city': 'vienna', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_430', 'language': 'cypriot', 'city': 'amsterdam', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_431', 'language': 'cypriot', 'city': 'valletta', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_432', 'language': 'latvian', 'city': 'paris', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_433', 'language': 'latvian', 'city': 'copenhagen', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_434', 'language': 'latvian', 'city': 'madrid', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_435', 'language': 'latvian', 'city': 'rome', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_436', 'language': 'latvian', 'city': 'sofia', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_437', 'language': 'latvian', 'city': 'vilnius', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_438', 'language': 'latvian', 'city': 'vienna', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_439', 'language': 'latvian', 'city': 'amsterdam', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_440', 'language': 'latvian', 'city': 'valletta', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_441', 'language': 'irish', 'city': 'paris', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_442', 'language': 'irish', 'city': 'copenhagen', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_443', 'language': 'irish', 'city': 'madrid', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_444', 'language': 'irish', 'city': 'rome', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_445', 'language': 'irish', 'city': 'sofia', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_446', 'language': 'irish', 'city': 'vilnius', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_447', 'language': 'irish', 'city': 'vienna', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_448', 'language': 'irish', 'city': 'amsterdam', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_449', 'language': 'irish', 'city': 'valletta', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_450', 'language': 'italian', 'city': 'paris', 'date': 14, 'mobile': 0}

{'avatar_name': 'avatar_d16_step3j_0_451', 'language': 'italian', 'city': 'copenhagen', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_452', 'language': 'italian', 'city': 'madrid', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_453', 'language': 'italian', 'city': 'rome', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_454', 'language': 'italian', 'city': 'sofia', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_455', 'language': 'italian', 'city': 'vilnius', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_456', 'language': 'italian', 'city': 'vienna', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_457', 'language': 'italian', 'city': 'amsterdam', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_458', 'language': 'italian', 'city': 'valletta', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_459', 'language': 'slovene', 'city': 'paris', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_460', 'language': 'slovene', 'city': 'copenhagen', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_461', 'language': 'slovene', 'city': 'madrid', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_462', 'language': 'slovene', 'city': 'rome', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_463', 'language': 'slovene', 'city': 'sofia', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_464', 'language': 'slovene', 'city': 'vilnius', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_465', 'language': 'slovene', 'city': 'vienna', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_466', 'language': 'slovene', 'city': 'amsterdam', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_467', 'language': 'slovene', 'city': 'valletta', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_468', 'language': 'czech', 'city': 'paris', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_469', 'language': 'czech', 'city': 'copenhagen', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_470', 'language': 'czech', 'city': 'madrid', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_471', 'language': 'czech', 'city': 'rome', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_472', 'language': 'czech', 'city': 'sofia', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_473', 'language': 'czech', 'city': 'vilnius', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_474', 'language': 'czech', 'city': 'vienna', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_475', 'language': 'czech', 'city': 'amsterdam', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d15_step3j_0_476', 'language': 'czech', 'city': 'valletta', 'date': 15, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_477', 'language': 'portuguese', 'city': 'paris', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_478', 'language': 'portuguese', 'city': 'copenhagen', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_479', 'language': 'portuguese', 'city': 'madrid', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_480', 'language': 'portuguese', 'city': 'rome', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d16_step3j_0_481', 'language': 'portuguese', 'city': 'sofia', 'date': 16, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_482', 'language': 'portuguese', 'city': 'vilnius', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d14_step3j_0_483', 'language': 'portuguese', 'city': 'vienna', 'date': 14, 'mobile': 0}
{'avatar_name': 'avatar_d18_step3j_0_484', 'language': 'portuguese', 'city': 'amsterdam', 'date': 18, 'mobile': 0}
{'avatar_name': 'avatar_d17_step3j_0_485', 'language': 'portuguese', 'city': 'valletta', 'date': 17, 'mobile': 0}
{'avatar_name': 'avatar_d36_step7j_1_486', 'language': 'romanian', 'city': 'paris', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_487', 'language': 'romanian', 'city': 'copenhagen', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_488', 'language': 'romanian', 'city': 'madrid', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_489', 'language': 'romanian', 'city': 'rome', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_490', 'language': 'romanian', 'city': 'sofia', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_491', 'language': 'romanian', 'city': 'vilnius', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_492', 'language': 'romanian', 'city': 'vienna', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_493', 'language': 'romanian', 'city': 'amsterdam', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_494', 'language': 'romanian', 'city': 'valletta', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_495', 'language': 'swedish', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_496', 'language': 'swedish', 'city': 'copenhagen', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_497', 'language': 'swedish', 'city': 'madrid', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_498', 'language': 'swedish', 'city': 'rome', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_499', 'language': 'swedish', 'city': 'sofia', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_500', 'language': 'swedish', 'city': 'vilnius', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_501', 'language': 'swedish', 'city': 'vienna', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_502', 'language': 'swedish', 'city': 'amsterdam', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_503', 'language': 'swedish', 'city': 'valletta', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_504', 'language': 'maltese', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_505', 'language': 'maltese', 'city': 'copenhagen', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_506', 'language': 'maltese', 'city': 'madrid', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_507', 'language': 'maltese', 'city': 'rome', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_508', 'language': 'maltese', 'city': 'sofia', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_509', 'language': 'maltese', 'city': 'vilnius', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_510', 'language': 'maltese', 'city': 'vienna', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_511', 'language': 'maltese', 'city': 'amsterdam', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_512', 'language': 'maltese', 'city': 'valletta', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_513', 'language': 'belgian', 'city': 'paris', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_514', 'language': 'belgian', 'city': 'copenhagen', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_515', 'language': 'belgian', 'city': 'madrid', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_516', 'language': 'belgian', 'city': 'rome', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_517', 'language': 'belgian', 'city': 'sofia', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_518', 'language': 'belgian', 'city': 'vilnius', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_519', 'language': 'belgian', 'city': 'vienna', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_520', 'language': 'belgian', 'city': 'amsterdam', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_521', 'language': 'belgian', 'city': 'valletta', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_522', 'language': 'luxembourgish', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_523', 'language': 'luxembourgish', 'city': 'copenhagen', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_524', 'language': 'luxembourgish', 'city': 'madrid', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_525', 'language': 'luxembourgish', 'city': 'rome', 'date': 38, 'mobile': 1}

{'avatar_name': 'avatar_d38_step7j_1_526', 'language': 'luxembourgish', 'city': 'sofia', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_527', 'language': 'luxembourgish', 'city': 'vilnius', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_528', 'language': 'luxembourgish', 'city': 'vienna', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_529', 'language': 'luxembourgish', 'city': 'amsterdam', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_530', 'language': 'luxembourgish', 'city': 'valletta', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_531', 'language': 'dutch', 'city': 'paris', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_532', 'language': 'dutch', 'city': 'copenhagen', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_533', 'language': 'dutch', 'city': 'madrid', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_534', 'language': 'dutch', 'city': 'rome', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_535', 'language': 'dutch', 'city': 'sofia', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_536', 'language': 'dutch', 'city': 'vilnius', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_537', 'language': 'dutch', 'city': 'vienna', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_538', 'language': 'dutch', 'city': 'amsterdam', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_539', 'language': 'dutch', 'city': 'valletta', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_540', 'language': 'french', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_541', 'language': 'french', 'city': 'copenhagen', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_542', 'language': 'french', 'city': 'madrid', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_543', 'language': 'french', 'city': 'rome', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_544', 'language': 'french', 'city': 'sofia', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_545', 'language': 'french', 'city': 'vilnius', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_546', 'language': 'french', 'city': 'vienna', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_547', 'language': 'french', 'city': 'amsterdam', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_548', 'language': 'french', 'city': 'valletta', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_549', 'language': 'finnish', 'city': 'paris', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_550', 'language': 'finnish', 'city': 'copenhagen', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_551', 'language': 'finnish', 'city': 'madrid', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_552', 'language': 'finnish', 'city': 'rome', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_553', 'language': 'finnish', 'city': 'sofia', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_554', 'language': 'finnish', 'city': 'vilnius', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_555', 'language': 'finnish', 'city': 'vienna', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_556', 'language': 'finnish', 'city': 'amsterdam', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_557', 'language': 'finnish', 'city': 'valletta', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_558', 'language': 'austrian', 'city': 'paris', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_559', 'language': 'austrian', 'city': 'copenhagen', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_560', 'language': 'austrian', 'city': 'madrid', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_561', 'language': 'austrian', 'city': 'rome', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_562', 'language': 'austrian', 'city': 'sofia', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_563', 'language': 'austrian', 'city': 'vilnius', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_564', 'language': 'austrian', 'city': 'vienna', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_565', 'language': 'austrian', 'city': 'amsterdam', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_566', 'language': 'austrian', 'city': 'valletta', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_567', 'language': 'slovakian', 'city': 'paris', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_568', 'language': 'slovakian', 'city': 'copenhagen', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_569', 'language': 'slovakian', 'city': 'madrid', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_570', 'language': 'slovakian', 'city': 'rome', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_571', 'language': 'slovakian', 'city': 'sofia', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_572', 'language': 'slovakian', 'city': 'vilnius', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_573', 'language': 'slovakian', 'city': 'vienna', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_574', 'language': 'slovakian', 'city': 'amsterdam', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_575', 'language': 'slovakian', 'city': 'valletta', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_576', 'language': 'hungarian', 'city': 'paris', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_577', 'language': 'hungarian', 'city': 'copenhagen', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_578', 'language': 'hungarian', 'city': 'madrid', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_579', 'language': 'hungarian', 'city': 'rome', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_580', 'language': 'hungarian', 'city': 'sofia', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_581', 'language': 'hungarian', 'city': 'vilnius', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_582', 'language': 'hungarian', 'city': 'vienna', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_583', 'language': 'hungarian', 'city': 'amsterdam', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_584', 'language': 'hungarian', 'city': 'valletta', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_585', 'language': 'bulgarian', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_586', 'language': 'bulgarian', 'city': 'copenhagen', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_587', 'language': 'bulgarian', 'city': 'madrid', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_588', 'language': 'bulgarian', 'city': 'rome', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_589', 'language': 'bulgarian', 'city': 'sofia', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_590', 'language': 'bulgarian', 'city': 'vilnius', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_591', 'language': 'bulgarian', 'city': 'vienna', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_592', 'language': 'bulgarian', 'city': 'amsterdam', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_593', 'language': 'bulgarian', 'city': 'valletta', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_594', 'language': 'danish', 'city': 'paris', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_595', 'language': 'danish', 'city': 'copenhagen', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_596', 'language': 'danish', 'city': 'madrid', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_597', 'language': 'danish', 'city': 'rome', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_598', 'language': 'danish', 'city': 'sofia', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_599', 'language': 'danish', 'city': 'vilnius', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_600', 'language': 'danish', 'city': 'vienna', 'date': 36, 'mobile': 1}

{'avatar_name': 'avatar_d37_step7j_1_601', 'language': 'danish', 'city': 'amsterdam', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_602', 'language': 'danish', 'city': 'valletta', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_603', 'language': 'greek', 'city': 'paris', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_604', 'language': 'greek', 'city': 'copenhagen', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_605', 'language': 'greek', 'city': 'madrid', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_606', 'language': 'greek', 'city': 'rome', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_607', 'language': 'greek', 'city': 'sofia', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_608', 'language': 'greek', 'city': 'vilnius', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_609', 'language': 'greek', 'city': 'vienna', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_610', 'language': 'greek', 'city': 'amsterdam', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_611', 'language': 'greek', 'city': 'valletta', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_612', 'language': 'croatian', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_613', 'language': 'croatian', 'city': 'copenhagen', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_614', 'language': 'croatian', 'city': 'madrid', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_615', 'language': 'croatian', 'city': 'rome', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_616', 'language': 'croatian', 'city': 'sofia', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_617', 'language': 'croatian', 'city': 'vilnius', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_618', 'language': 'croatian', 'city': 'vienna', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_619', 'language': 'croatian', 'city': 'amsterdam', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_620', 'language': 'croatian', 'city': 'valletta', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_621', 'language': 'polish', 'city': 'paris', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_622', 'language': 'polish', 'city': 'copenhagen', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_623', 'language': 'polish', 'city': 'madrid', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_624', 'language': 'polish', 'city': 'rome', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_625', 'language': 'polish', 'city': 'sofia', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_626', 'language': 'polish', 'city': 'vilnius', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_627', 'language': 'polish', 'city': 'vienna', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_628', 'language': 'polish', 'city': 'amsterdam', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_629', 'language': 'polish', 'city': 'valletta', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_630', 'language': 'german', 'city': 'paris', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_631', 'language': 'german', 'city': 'copenhagen', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_632', 'language': 'german', 'city': 'madrid', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_633', 'language': 'german', 'city': 'rome', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_634', 'language': 'german', 'city': 'sofia', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_635', 'language': 'german', 'city': 'vilnius', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_636', 'language': 'german', 'city': 'vienna', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_637', 'language': 'german', 'city': 'amsterdam', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_638', 'language': 'german', 'city': 'valletta', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_639', 'language': 'spanish', 'city': 'paris', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_640', 'language': 'spanish', 'city': 'copenhagen', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_641', 'language': 'spanish', 'city': 'madrid', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_642', 'language': 'spanish', 'city': 'rome', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_643', 'language': 'spanish', 'city': 'sofia', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_644', 'language': 'spanish', 'city': 'vilnius', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_645', 'language': 'spanish', 'city': 'vienna', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_646', 'language': 'spanish', 'city': 'amsterdam', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_647', 'language': 'spanish', 'city': 'valletta', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_648', 'language': 'estonian', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_649', 'language': 'estonian', 'city': 'copenhagen', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_650', 'language': 'estonian', 'city': 'madrid', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_651', 'language': 'estonian', 'city': 'rome', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_652', 'language': 'estonian', 'city': 'sofia', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_653', 'language': 'estonian', 'city': 'vilnius', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_654', 'language': 'estonian', 'city': 'vienna', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_655', 'language': 'estonian', 'city': 'amsterdam', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_656', 'language': 'estonian', 'city': 'valletta', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_657', 'language': 'lithuanian', 'city': 'paris', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_658', 'language': 'lithuanian', 'city': 'copenhagen', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_659', 'language': 'lithuanian', 'city': 'madrid', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_660', 'language': 'lithuanian', 'city': 'rome', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_661', 'language': 'lithuanian', 'city': 'sofia', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_662', 'language': 'lithuanian', 'city': 'vilnius', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_663', 'language': 'lithuanian', 'city': 'vienna', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_664', 'language': 'lithuanian', 'city': 'amsterdam', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_665', 'language': 'lithuanian', 'city': 'valletta', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_666', 'language': 'cypriot', 'city': 'paris', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_667', 'language': 'cypriot', 'city': 'copenhagen', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_668', 'language': 'cypriot', 'city': 'madrid', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_669', 'language': 'cypriot', 'city': 'rome', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_670', 'language': 'cypriot', 'city': 'sofia', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_671', 'language': 'cypriot', 'city': 'vilnius', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_672', 'language': 'cypriot', 'city': 'vienna', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_673', 'language': 'cypriot', 'city': 'amsterdam', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_674', 'language': 'cypriot', 'city': 'valletta', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_675', 'language': 'latvian', 'city': 'paris', 'date': 36, 'mobile': 1}

{'avatar_name': 'avatar_d36_step7j_1_676', 'language': 'latvian', 'city': 'copenhagen', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_677', 'language': 'latvian', 'city': 'madrid', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_678', 'language': 'latvian', 'city': 'rome', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_679', 'language': 'latvian', 'city': 'sofia', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_680', 'language': 'latvian', 'city': 'vilnius', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_681', 'language': 'latvian', 'city': 'vienna', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_682', 'language': 'latvian', 'city': 'amsterdam', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_683', 'language': 'latvian', 'city': 'valletta', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_684', 'language': 'irish', 'city': 'paris', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_685', 'language': 'irish', 'city': 'copenhagen', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_686', 'language': 'irish', 'city': 'madrid', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_687', 'language': 'irish', 'city': 'rome', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_688', 'language': 'irish', 'city': 'sofia', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_689', 'language': 'irish', 'city': 'vilnius', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_690', 'language': 'irish', 'city': 'vienna', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_691', 'language': 'irish', 'city': 'amsterdam', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_692', 'language': 'irish', 'city': 'valletta', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_693', 'language': 'italian', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_694', 'language': 'italian', 'city': 'copenhagen', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_695', 'language': 'italian', 'city': 'madrid', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_696', 'language': 'italian', 'city': 'rome', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_697', 'language': 'italian', 'city': 'sofia', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_698', 'language': 'italian', 'city': 'vilnius', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_699', 'language': 'italian', 'city': 'vienna', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_700', 'language': 'italian', 'city': 'amsterdam', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_701', 'language': 'italian', 'city': 'valletta', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_702', 'language': 'slovene', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_703', 'language': 'slovene', 'city': 'copenhagen', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_704', 'language': 'slovene', 'city': 'madrid', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_705', 'language': 'slovene', 'city': 'rome', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_706', 'language': 'slovene', 'city': 'sofia', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_707', 'language': 'slovene', 'city': 'vilnius', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_708', 'language': 'slovene', 'city': 'vienna', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_709', 'language': 'slovene', 'city': 'amsterdam', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_710', 'language': 'slovene', 'city': 'valletta', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_711', 'language': 'czech', 'city': 'paris', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_712', 'language': 'czech', 'city': 'copenhagen', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_713', 'language': 'czech', 'city': 'madrid', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_714', 'language': 'czech', 'city': 'rome', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_715', 'language': 'czech', 'city': 'sofia', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_716', 'language': 'czech', 'city': 'vilnius', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_717', 'language': 'czech', 'city': 'vienna', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d36_step7j_1_718', 'language': 'czech', 'city': 'amsterdam', 'date': 36, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_719', 'language': 'czech', 'city': 'valletta', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_720', 'language': 'portuguese', 'city': 'paris', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_721', 'language': 'portuguese', 'city': 'copenhagen', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_722', 'language': 'portuguese', 'city': 'madrid', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_723', 'language': 'portuguese', 'city': 'rome', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d38_step7j_1_724', 'language': 'portuguese', 'city': 'sofia', 'date': 38, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_725', 'language': 'portuguese', 'city': 'vilnius', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d34_step7j_1_726', 'language': 'portuguese', 'city': 'vienna', 'date': 34, 'mobile': 1}
{'avatar_name': 'avatar_d35_step7j_1_727', 'language': 'portuguese', 'city': 'amsterdam', 'date': 35, 'mobile': 1}
{'avatar_name': 'avatar_d37_step7j_1_728', 'language': 'portuguese', 'city': 'valletta', 'date': 37, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_729', 'language': 'romanian', 'city': 'paris', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_730', 'language': 'romanian', 'city': 'copenhagen', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_731', 'language': 'romanian', 'city': 'madrid', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_732', 'language': 'romanian', 'city': 'rome', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_733', 'language': 'romanian', 'city': 'sofia', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_734', 'language': 'romanian', 'city': 'vilnius', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_735', 'language': 'romanian', 'city': 'vienna', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_736', 'language': 'romanian', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_737', 'language': 'romanian', 'city': 'valletta', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_738', 'language': 'swedish', 'city': 'paris', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_739', 'language': 'swedish', 'city': 'copenhagen', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_740', 'language': 'swedish', 'city': 'madrid', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_741', 'language': 'swedish', 'city': 'rome', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_742', 'language': 'swedish', 'city': 'sofia', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_743', 'language': 'swedish', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_744', 'language': 'swedish', 'city': 'vienna', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_745', 'language': 'swedish', 'city': 'amsterdam', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_746', 'language': 'swedish', 'city': 'valletta', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_747', 'language': 'maltese', 'city': 'paris', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_748', 'language': 'maltese', 'city': 'copenhagen', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_749', 'language': 'maltese', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_750', 'language': 'maltese', 'city': 'rome', 'date': 15, 'mobile': 1}

{'avatar_name': 'avatar_d14_step3j_1_751', 'language': 'maltese', 'city': 'sofia', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_752', 'language': 'maltese', 'city': 'vilnius', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_753', 'language': 'maltese', 'city': 'vienna', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_754', 'language': 'maltese', 'city': 'amsterdam', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_755', 'language': 'maltese', 'city': 'valletta', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_756', 'language': 'belgian', 'city': 'paris', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_757', 'language': 'belgian', 'city': 'copenhagen', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_758', 'language': 'belgian', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_759', 'language': 'belgian', 'city': 'rome', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_760', 'language': 'belgian', 'city': 'sofia', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_761', 'language': 'belgian', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_762', 'language': 'belgian', 'city': 'vienna', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_763', 'language': 'belgian', 'city': 'amsterdam', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_764', 'language': 'belgian', 'city': 'valletta', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_765', 'language': 'luxembourgish', 'city': 'paris', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_766', 'language': 'luxembourgish', 'city': 'copenhagen', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_767', 'language': 'luxembourgish', 'city': 'madrid', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_768', 'language': 'luxembourgish', 'city': 'rome', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_769', 'language': 'luxembourgish', 'city': 'sofia', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_770', 'language': 'luxembourgish', 'city': 'vilnius', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_771', 'language': 'luxembourgish', 'city': 'vienna', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_772', 'language': 'luxembourgish', 'city': 'amsterdam', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_773', 'language': 'luxembourgish', 'city': 'valletta', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_774', 'language': 'dutch', 'city': 'paris', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_775', 'language': 'dutch', 'city': 'copenhagen', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_776', 'language': 'dutch', 'city': 'madrid', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_777', 'language': 'dutch', 'city': 'rome', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_778', 'language': 'dutch', 'city': 'sofia', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_779', 'language': 'dutch', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_780', 'language': 'dutch', 'city': 'vienna', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_781', 'language': 'dutch', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_782', 'language': 'dutch', 'city': 'valletta', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_783', 'language': 'french', 'city': 'paris', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_784', 'language': 'french', 'city': 'copenhagen', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_785', 'language': 'french', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_786', 'language': 'french', 'city': 'rome', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_787', 'language': 'french', 'city': 'sofia', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_788', 'language': 'french', 'city': 'vilnius', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_789', 'language': 'french', 'city': 'vienna', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_790', 'language': 'french', 'city': 'amsterdam', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_791', 'language': 'french', 'city': 'valletta', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_792', 'language': 'finnish', 'city': 'paris', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_793', 'language': 'finnish', 'city': 'copenhagen', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_794', 'language': 'finnish', 'city': 'madrid', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_795', 'language': 'finnish', 'city': 'rome', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_796', 'language': 'finnish', 'city': 'sofia', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_797', 'language': 'finnish', 'city': 'vilnius', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_798', 'language': 'finnish', 'city': 'vienna', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_799', 'language': 'finnish', 'city': 'amsterdam', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_800', 'language': 'finnish', 'city': 'valletta', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_801', 'language': 'austrian', 'city': 'paris', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_802', 'language': 'austrian', 'city': 'copenhagen', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_803', 'language': 'austrian', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_804', 'language': 'austrian', 'city': 'rome', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_805', 'language': 'austrian', 'city': 'sofia', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_806', 'language': 'austrian', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_807', 'language': 'austrian', 'city': 'vienna', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_808', 'language': 'austrian', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_809', 'language': 'austrian', 'city': 'valletta', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_810', 'language': 'slovakian', 'city': 'paris', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_811', 'language': 'slovakian', 'city': 'copenhagen', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_812', 'language': 'slovakian', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_813', 'language': 'slovakian', 'city': 'rome', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_814', 'language': 'slovakian', 'city': 'sofia', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_815', 'language': 'slovakian', 'city': 'vilnius', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_816', 'language': 'slovakian', 'city': 'vienna', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_817', 'language': 'slovakian', 'city': 'amsterdam', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_818', 'language': 'slovakian', 'city': 'valletta', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_819', 'language': 'hungarian', 'city': 'paris', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_820', 'language': 'hungarian', 'city': 'copenhagen', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_821', 'language': 'hungarian', 'city': 'madrid', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_822', 'language': 'hungarian', 'city': 'rome', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_823', 'language': 'hungarian', 'city': 'sofia', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_824', 'language': 'hungarian', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_825', 'language': 'hungarian', 'city': 'vienna', 'date': 15, 'mobile': 1}

{'avatar_name': 'avatar_d17_step3j_1_826', 'language': 'hungarian', 'city': 'amsterdam', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_827', 'language': 'hungarian', 'city': 'valletta', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_828', 'language': 'bulgarian', 'city': 'paris', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_829', 'language': 'bulgarian', 'city': 'copenhagen', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_830', 'language': 'bulgarian', 'city': 'madrid', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_831', 'language': 'bulgarian', 'city': 'rome', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_832', 'language': 'bulgarian', 'city': 'sofia', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_833', 'language': 'bulgarian', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_834', 'language': 'bulgarian', 'city': 'vienna', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_835', 'language': 'bulgarian', 'city': 'amsterdam', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_836', 'language': 'bulgarian', 'city': 'valletta', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_837', 'language': 'danish', 'city': 'paris', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_838', 'language': 'danish', 'city': 'copenhagen', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_839', 'language': 'danish', 'city': 'madrid', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_840', 'language': 'danish', 'city': 'rome', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_841', 'language': 'danish', 'city': 'sofia', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_842', 'language': 'danish', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_843', 'language': 'danish', 'city': 'vienna', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_844', 'language': 'danish', 'city': 'amsterdam', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_845', 'language': 'danish', 'city': 'valletta', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_846', 'language': 'greek', 'city': 'paris', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_847', 'language': 'greek', 'city': 'copenhagen', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_848', 'language': 'greek', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_849', 'language': 'greek', 'city': 'rome', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_850', 'language': 'greek', 'city': 'sofia', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_851', 'language': 'greek', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_852', 'language': 'greek', 'city': 'vienna', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_853', 'language': 'greek', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_854', 'language': 'greek', 'city': 'valletta', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_855', 'language': 'croatian', 'city': 'paris', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_856', 'language': 'croatian', 'city': 'copenhagen', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_857', 'language': 'croatian', 'city': 'madrid', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_858', 'language': 'croatian', 'city': 'rome', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_859', 'language': 'croatian', 'city': 'sofia', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_860', 'language': 'croatian', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_861', 'language': 'croatian', 'city': 'vienna', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_862', 'language': 'croatian', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_863', 'language': 'croatian', 'city': 'valletta', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_864', 'language': 'polish', 'city': 'paris', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_865', 'language': 'polish', 'city': 'copenhagen', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_866', 'language': 'polish', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_867', 'language': 'polish', 'city': 'rome', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_868', 'language': 'polish', 'city': 'sofia', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_869', 'language': 'polish', 'city': 'vilnius', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_870', 'language': 'polish', 'city': 'vienna', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_871', 'language': 'polish', 'city': 'amsterdam', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_872', 'language': 'polish', 'city': 'valletta', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_873', 'language': 'german', 'city': 'paris', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_874', 'language': 'german', 'city': 'copenhagen', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_875', 'language': 'german', 'city': 'madrid', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_876', 'language': 'german', 'city': 'rome', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_877', 'language': 'german', 'city': 'sofia', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_878', 'language': 'german', 'city': 'vilnius', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_879', 'language': 'german', 'city': 'vienna', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_880', 'language': 'german', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_881', 'language': 'german', 'city': 'valletta', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_882', 'language': 'spanish', 'city': 'paris', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_883', 'language': 'spanish', 'city': 'copenhagen', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_884', 'language': 'spanish', 'city': 'madrid', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_885', 'language': 'spanish', 'city': 'rome', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_886', 'language': 'spanish', 'city': 'sofia', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_887', 'language': 'spanish', 'city': 'vilnius', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_888', 'language': 'spanish', 'city': 'vienna', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_889', 'language': 'spanish', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_890', 'language': 'spanish', 'city': 'valletta', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_891', 'language': 'estonian', 'city': 'paris', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_892', 'language': 'estonian', 'city': 'copenhagen', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_893', 'language': 'estonian', 'city': 'madrid', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_894', 'language': 'estonian', 'city': 'rome', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_895', 'language': 'estonian', 'city': 'sofia', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_896', 'language': 'estonian', 'city': 'vilnius', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_897', 'language': 'estonian', 'city': 'vienna', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_898', 'language': 'estonian', 'city': 'amsterdam', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_899', 'language': 'estonian', 'city': 'valletta', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_900', 'language': 'lithuanian', 'city': 'paris', 'date': 14, 'mobile': 1}

{'avatar_name': 'avatar_d17_step3j_1_901', 'language': 'lithuanian', 'city': 'copenhagen', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_902', 'language': 'lithuanian', 'city': 'madrid', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_903', 'language': 'lithuanian', 'city': 'rome', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_904', 'language': 'lithuanian', 'city': 'sofia', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_905', 'language': 'lithuanian', 'city': 'vilnius', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_906', 'language': 'lithuanian', 'city': 'vienna', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_907', 'language': 'lithuanian', 'city': 'amsterdam', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_908', 'language': 'lithuanian', 'city': 'valletta', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_909', 'language': 'cypriot', 'city': 'paris', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_910', 'language': 'cypriot', 'city': 'copenhagen', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_911', 'language': 'cypriot', 'city': 'madrid', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_912', 'language': 'cypriot', 'city': 'rome', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_913', 'language': 'cypriot', 'city': 'sofia', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_914', 'language': 'cypriot', 'city': 'vilnius', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_915', 'language': 'cypriot', 'city': 'vienna', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_916', 'language': 'cypriot', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_917', 'language': 'cypriot', 'city': 'valletta', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_918', 'language': 'latvian', 'city': 'paris', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_919', 'language': 'latvian', 'city': 'copenhagen', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_920', 'language': 'latvian', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_921', 'language': 'latvian', 'city': 'rome', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_922', 'language': 'latvian', 'city': 'sofia', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_923', 'language': 'latvian', 'city': 'vilnius', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_924', 'language': 'latvian', 'city': 'vienna', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_925', 'language': 'latvian', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_926', 'language': 'latvian', 'city': 'valletta', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_927', 'language': 'irish', 'city': 'paris', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_928', 'language': 'irish', 'city': 'copenhagen', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_929', 'language': 'irish', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_930', 'language': 'irish', 'city': 'rome', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_931', 'language': 'irish', 'city': 'sofia', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_932', 'language': 'irish', 'city': 'vilnius', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_933', 'language': 'irish', 'city': 'vienna', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_934', 'language': 'irish', 'city': 'amsterdam', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_935', 'language': 'irish', 'city': 'valletta', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_936', 'language': 'italian', 'city': 'paris', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_937', 'language': 'italian', 'city': 'copenhagen', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_938', 'language': 'italian', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_939', 'language': 'italian', 'city': 'rome', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_940', 'language': 'italian', 'city': 'sofia', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_941', 'language': 'italian', 'city': 'vilnius', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_942', 'language': 'italian', 'city': 'vienna', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_943', 'language': 'italian', 'city': 'amsterdam', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_944', 'language': 'italian', 'city': 'valletta', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_945', 'language': 'slovene', 'city': 'paris', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_946', 'language': 'slovene', 'city': 'copenhagen', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_947', 'language': 'slovene', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_948', 'language': 'slovene', 'city': 'rome', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_949', 'language': 'slovene', 'city': 'sofia', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_950', 'language': 'slovene', 'city': 'vilnius', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_951', 'language': 'slovene', 'city': 'vienna', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_952', 'language': 'slovene', 'city': 'amsterdam', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_953', 'language': 'slovene', 'city': 'valletta', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_954', 'language': 'czech', 'city': 'paris', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_955', 'language': 'czech', 'city': 'copenhagen', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_956', 'language': 'czech', 'city': 'madrid', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_957', 'language': 'czech', 'city': 'rome', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d18_step3j_1_958', 'language': 'czech', 'city': 'sofia', 'date': 18, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_959', 'language': 'czech', 'city': 'vilnius', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_960', 'language': 'czech', 'city': 'vienna', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_961', 'language': 'czech', 'city': 'amsterdam', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_962', 'language': 'czech', 'city': 'valletta', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_963', 'language': 'portuguese', 'city': 'paris', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d16_step3j_1_964', 'language': 'portuguese', 'city': 'copenhagen', 'date': 16, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_965', 'language': 'portuguese', 'city': 'madrid', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_966', 'language': 'portuguese', 'city': 'rome', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_967', 'language': 'portuguese', 'city': 'sofia', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_968', 'language': 'portuguese', 'city': 'vilnius', 'date': 15, 'mobile': 1}
{'avatar_name': 'avatar_d14_step3j_1_969', 'language': 'portuguese', 'city': 'vienna', 'date': 14, 'mobile': 1}
{'avatar_name': 'avatar_d17_step3j_1_970', 'language': 'portuguese', 'city': 'amsterdam', 'date': 17, 'mobile': 1}
{'avatar_name': 'avatar_d15_step3j_1_971', 'language': 'portuguese', 'city': 'valletta', 'date': 15, 'mobile': 1}

PermissionError: [Errno 13] Permission denied: 'matrix_merge.csv'

In [18]:
matrix_merge.to_csv('matrix_merge.csv')

In [17]:
matrix_merge

,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,663,149,84,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
1,912,164,73,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
2,640,152,70,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
3,656,106,64,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
4,792,82,76,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
...,...,...,...,...,...,...,...,...,...
100934,491,167,24,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100935,371,100,3,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100936,334,82,5,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100937,466,169,14,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100938,389,121,2,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971

In [ ]:
for i in range(10)

In [ ]:
list = []
for i in range(np.shape(Features['city'])[0]):

In [3]:
import csv

with open('features_hotels.csv') as File:  
    Line_reader = csv.reader(File)

## Creating an avatar

The admin of the competition can create users. A user can then create as many avatars as they wish.

In [5]:

name = 'test-first-avatar'
r = requests.post(path(f'avatars/{user_id}/{name}'))
r

In [6]:
name = 'test-second-avatar'
r = requests.post(path(f"avatars/{user_id}/{name}"))
r

In [7]:
r = requests.get(path(f"avatars/{user_id}"))
for avatar in r.json():
    print(avatar['id'], avatar['name'])

28468 test-first-avatar
28469 test-second-avatar

In [8]:
avatar['name']

'test-second-avatar'

In [15]:
import pandas as pd
matrix_avatar = []
matrix_avatar = pd.DataFrame([],columns = ['id', 'name','order_request','city','date','mobile','language','stock','index'])

In [16]:
for avatar in r.json():
    df_tmp = pd.DataFrame([(avatar['id'],avatar['name'])], columns=['id', 'name'])
    matrix_avatar = matrix_avatar.append(df_tmp)

In [17]:
matrix_avatar

,id,name,order_request,city,date,mobile,language,stock,index
0,28468,test-first-avatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,28469,test-second-avatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Making pricing requests

In [19]:
params = np.zeros(100)
langue = ['english','hungarian','spanish','french']
for i in range(100):
    avatar = 
params[i] = {
    "avatar_name": "avatar_"+str(i),
    "language": langue[],
    "city": "copenhagen",
    "date": 2,
    "mobile": 0,    
}
fsmsdf

AttributeError: 'dict' object has no attribute 'type'

In [19]:
params = np.zeros(100)
langue = ['english','hungarian','spanish','french']


for i in range(100):
    avatar = "avatar_"+str(i)
    langue = 
    city = 
    mobile = 
    date = 
    params = {
        "avatar_name": avatar,
        "language": langue,
        "city": city,
        "date": date,
        "mobile": mobile,    
    }

AttributeError: 'dict' object has no attribute 'type'

In [5]:
params = {
    "avatar_name": "max-first-avatar",
    "language": "hungarian",
    "city": "copenhagen",
    "date": 2,
    "mobile": 0,
}
r1 = requests.get(path(f"pricing/{user_id}"), params=params)
r1.json()

{'prices': [{'hotel_id': 720, 'price': 467, 'stock': 2},
  {'hotel_id': 434, 'price': 114, 'stock': 0},
  {'hotel_id': 349, 'price': 317, 'stock': 1},
  {'hotel_id': 367, 'price': 96, 'stock': 0},
  {'hotel_id': 952, 'price': 94, 'stock': 0},
  {'hotel_id': 528, 'price': 432, 'stock': 2},
  {'hotel_id': 990, 'price': 168, 'stock': 0},
  {'hotel_id': 60, 'price': 94, 'stock': 0},
  {'hotel_id': 834, 'price': 91, 'stock': 0},
  {'hotel_id': 757, 'price': 151, 'stock': 1},
  {'hotel_id': 531, 'price': 204, 'stock': 2},
  {'hotel_id': 772, 'price': 327, 'stock': 0},
  {'hotel_id': 664, 'price': 472, 'stock': 2},
  {'hotel_id': 332, 'price': 333, 'stock': 1},
  {'hotel_id': 113, 'price': 89, 'stock': 0},
  {'hotel_id': 445, 'price': 89, 'stock': 0},
  {'hotel_id': 695, 'price': 202, 'stock': 2},
  {'hotel_id': 142, 'price': 390, 'stock': 4},
  {'hotel_id': 547, 'price': 202, 'stock': 2},
  {'hotel_id': 793, 'price': 167, 'stock': 0},
  {'hotel_id': 994, 'price': 193, 'stock': 2},
  {'hotel_id': 300, 'price': 145, 'stock': 1},
  {'hotel_id': 818, 'price': 173, 'stock': 0},
  {'hotel_id': 562, 'price': 327, 'stock': 1},
  {'hotel_id': 1, 'price': 95, 'stock': 0},
  {'hotel_id': 518, 'price': 194, 'stock': 1},
  {'hotel_id': 497, 'price': 269, 'stock': 4},
  {'hotel_id': 771, 'price': 478, 'stock': 2},
  {'hotel_id': 539, 'price': 351, 'stock': 3},
  {'hotel_id': 622, 'price': 213, 'stock': 1},
  {'hotel_id': 829, 'price': 202, 'stock': 2},
  {'hotel_id': 401, 'price': 196, 'stock': 0},
  {'hotel_id': 96, 'price': 194, 'stock': 1},
  {'hotel_id': 425, 'price': 308, 'stock': 1},
  {'hotel_id': 43, 'price': 79, 'stock': 16},
  {'hotel_id': 669, 'price': 322, 'stock': 1},
  {'hotel_id': 358, 'price': 306, 'stock': 1},
  {'hotel_id': 698, 'price': 231, 'stock': 6},
  {'hotel_id': 961, 'price': 229, 'stock': 7},
  {'hotel_id': 405, 'price': 97, 'stock': 0},
  {'hotel_id': 348, 'price': 198, 'stock': 2},
  {'hotel_id': 407, 'price': 317, 'stock': 1},
  {'hotel_id': 402, 'price': 128, 'stock': 0},
  {'hotel_id': 249, 'price': 87, 'stock': 0},
  {'hotel_id': 900, 'price': 235, 'stock': 0},
  {'hotel_id': 463, 'price': 97, 'stock': 0},
  {'hotel_id': 318, 'price': 141, 'stock': 0},
  {'hotel_id': 6, 'price': 120, 'stock': 0},
  {'hotel_id': 194, 'price': 118, 'stock': 0},
  {'hotel_id': 805, 'price': 202, 'stock': 2},
  {'hotel_id': 898, 'price': 92, 'stock': 0},
  {'hotel_id': 443, 'price': 145, 'stock': 1},
  {'hotel_id': 855, 'price': 311, 'stock': 1},
  {'hotel_id': 978, 'price': 335, 'stock': 4},
  {'hotel_id': 391, 'price': 191, 'stock': 2},
  {'hotel_id': 100, 'price': 87, 'stock': 0},
  {'hotel_id': 958, 'price': 239, 'stock': 0},
  {'hotel_id': 844, 'price': 469, 'stock': 2},
  {'hotel_id': 959, 'price': 221, 'stock': 4},
  {'hotel_id': 556, 'price': 175, 'stock': 0},
  {'hotel_id': 335, 'price': 90, 'stock': 0},
  {'hotel_id': 989, 'price': 108, 'stock': 0},
  {'hotel_id': 981, 'price': 110, 'stock': 0},
  {'hotel_id': 523, 'price': 104, 'stock': 3},
  {'hotel_id': 58, 'price': 322, 'stock': 1},
  {'hotel_id': 251, 'price': 165, 'stock': 0},
  {'hotel_id': 53, 'price': 94, 'stock': 0},
  {'hotel_id': 770, 'price': 336, 'stock': 1},
  {'hotel_id': 707, 'price': 335, 'stock': 5},
  {'hotel_id': 766, 'price': 467, 'stock': 2},
  {'hotel_id': 508, 'price': 339, 'stock': 1},
  {'hotel_id': 761, 'price': 145, 'stock': 0},
  {'hotel_id': 872, 'price': 97, 'stock': 0},
  {'hotel_id': 110, 'price': 202, 'stock': 2},
  {'hotel_id': 153, 'price': 333, 'stock': 1},
  {'hotel_id': 546, 'price': 108, 'stock': 1},
  {'hotel_id': 78, 'price': 461, 'stock': 2},
  {'hotel_id': 532, 'price': 342, 'stock': 1},
  {'hotel_id': 596, 'price': 170, 'stock': 0},
  {'hotel_id': 983, 'price': 91, 'stock': 0},
  {'hotel_id': 36, 'price': 193, 'stock': 0},
  {'hotel_id': 243, 'price': 97, 'stock': 0},
  {'hotel_id': 726, 'price': 325, 'stock': 3},
  {'hotel_id': 506, 'price': 148, 'stock': 0},
  {'hotel_id': 280, 'price': 117, 'stock': 12},
  {'hotel_id': 876, 'price': 141, 'stock': 0},
  {'hotel_id': 716, 'price': 143, 'stock': 0},
  {'hotel_id': 559, 'price': 299, 'stock': 1},
  {'hotel_id': 422, 'price': 481, 'stock': 2},
  {'hotel_id': 826, 'price': 196, 'stock': 8},
  {'hotel_id': 727, 'price': 121, 'stock': 0},
  {'hotel_id': 365, 'price': 94, 'stock': 0},
  {'hotel_id': 908, 'price': 481, 'stock': 2},
  {'hotel_id': 267, 'price': 173, 'stock': 0},
  {'hotel_id': 930, 'price': 120, 'stock': 0},
  {'hotel_id': 487, 'price': 166, 'stock': 8},
  {'hotel_id': 91, 'price': 128, 'stock': 0},
  {'hotel_id': 744, 'price': 170, 'stock': 0},
  {'hotel_id': 23, 'price': 198, 'stock': 2},
  {'hotel_id': 90, 'price': 200, 'stock': 2},
  {'hotel_id': 922, 'price': 342, 'stock': 1},
  {'hotel_id': 865, 'price': 277, 'stock': 7},
  {'hotel_id': 435, 'price': 464, 'stock': 2},
  {'hotel_id': 572, 'price': 231, 'stock': 0},
  {'hotel_id': 329, 'price': 239, 'stock': 0},
  {'hotel_id': 691, 'price': 89, 'stock': 0},
  {'hotel_id': 831, 'price': 108, 'stock': 5},
  {'hotel_id': 973, 'price': 171, 'stock': 0},
  {'hotel_id': 291, 'price': 256, 'stock': 1},
  {'hotel_id': 938, 'price': 121, 'stock': 0},
  {'hotel_id': 202, 'price': 198, 'stock': 2},
  {'hotel_id': 32, 'price': 175, 'stock': 0},
  {'hotel_id': 812, 'price': 200, 'stock': 0},
  {'hotel_id': 431, 'price': 123, 'stock': 0},
  {'hotel_id': 289, 'price': 140, 'stock': 0},
  {'hotel_id': 688, 'price': 87, 'stock': 0},
  {'hotel_id': 92, 'price': 84, 'stock': 3},
  {'hotel_id': 690, 'price': 241, 'stock': 4},
  {'hotel_id': 611, 'price': 204, 'stock': 0},
  {'hotel_id': 638, 'price': 153, 'stock': 6},
  {'hotel_id': 995, 'price': 214, 'stock': 3},
  {'hotel_id': 541, 'price': 155, 'stock': 1},
  {'hotel_id': 711, 'price': 140, 'stock': 2},
  {'hotel_id': 433, 'price': 143, 'stock': 2},
  {'hotel_id': 309, 'price': 94, 'stock': 0},
  {'hotel_id': 893, 'price': 229, 'stock': 0},
  {'hotel_id': 830, 'price': 89, 'stock': 0},
  {'hotel_id': 849, 'price': 198, 'stock': 2},
  {'hotel_id': 481, 'price': 95, 'stock': 0},
  {'hotel_id': 50, 'price': 149, 'stock': 1},
  {'hotel_id': 869, 'price': 469, 'stock': 1},
  {'hotel_id': 951, 'price': 87, 'stock': 0},
  {'hotel_id': 99, 'price': 202, 'stock': 0},
  {'hotel_id': 616, 'price': 198, 'stock': 0}],
 'request': {'city': 'copenhagen',
  'date': 2,
  'language': 'hungarian',
  'mobile': 0,
  'avatar_id': 5}}

## Build a training set

In [10]:
hotels = pd.read_csv('../input/defi-ia-2023/features_hotels.csv', index_col=['hotel_id', 'city'])
pricing_requests = pricing_requests.join(hotels, on=['hotel_id', 'city'])
pricing_requests.head()

,hotel_id,price,stock,city,date,language,mobile,avatar_id,group,brand,parking,pool,children_policy
0,720,467,2,copenhagen,2,hungarian,0,5,Chillton Worldwide,Chill Garden Inn,0,0,2
1,434,114,0,copenhagen,2,hungarian,0,5,Accar Hotels,Ibas,0,0,0
2,349,317,1,copenhagen,2,hungarian,0,5,Yin Yang,Royal Lotus,0,1,0
3,367,96,0,copenhagen,2,hungarian,0,5,Yin Yang,8 Premium,0,0,0
4,952,94,0,copenhagen,2,hungarian,0,5,Independant,Independant,0,0,0

In [11]:
sample_submission = pd.read_csv('../input/defi-ia-2023/sample_submission.csv')
sample_submission.head()

   index  price
0      0  191.0
1      1  191.0
2      2  191.0
3      3  191.0
4      4  191.0

# Nouvelles requests

## Request 1

In [15]:
import pandas as pd
requests = pd.read_csv('matrix_merge.csv')

In [33]:
display(requests)

,Unnamed: 0,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,0,663,149,84,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
1,1,912,164,73,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
2,2,640,152,70,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
3,3,656,106,64,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
4,4,792,82,76,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
...,...,...,...,...,...,...,...,...,...,...
100934,100934,491,167,24,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100935,100935,371,100,3,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100936,100936,334,82,5,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100937,100937,466,169,14,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100938,100938,389,121,2,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971

In [54]:
requests['name'=='avatar_d15_step3j_1_971']

KeyError: False

In [42]:
liste_titres

['avatar_d35_step7j_0_0',
 'avatar_d36_step7j_0_1',
 'avatar_d37_step7j_0_2',
 'avatar_d34_step7j_0_3',
 'avatar_d38_step7j_0_4',
 'avatar_d38_step7j_0_5',
 'avatar_d36_step7j_0_6',
 'avatar_d35_step7j_0_7',
 'avatar_d37_step7j_0_8',
 'avatar_d37_step7j_0_9',
 'avatar_d35_step7j_0_10',
 'avatar_d37_step7j_0_11',
 'avatar_d35_step7j_0_12',
 'avatar_d35_step7j_0_13',
 'avatar_d34_step7j_0_14',
 'avatar_d35_step7j_0_15',
 'avatar_d36_step7j_0_16',
 'avatar_d37_step7j_0_17',
 'avatar_d35_step7j_0_18',
 'avatar_d38_step7j_0_19',
 'avatar_d36_step7j_0_20',
 'avatar_d35_step7j_0_21',
 'avatar_d38_step7j_0_22',
 'avatar_d35_step7j_0_23',
 'avatar_d35_step7j_0_24',
 'avatar_d36_step7j_0_25',
 'avatar_d34_step7j_0_26',
 'avatar_d34_step7j_0_27',
 'avatar_d36_step7j_0_28',
 'avatar_d35_step7j_0_29',
 'avatar_d34_step7j_0_30',
 'avatar_d36_step7j_0_31',
 'avatar_d38_step7j_0_32',
 'avatar_d37_step7j_0_33',
 'avatar_d34_step7j_0_34',
 'avatar_d37_step7j_0_35',
 'avatar_d36_step7j_0_36',
 'avatar_d34_step7j_0_37',
 'avatar_d38_step7j_0_38',
 'avatar_d35_step7j_0_39',
 'avatar_d37_step7j_0_40',
 'avatar_d36_step7j_0_41',
 'avatar_d34_step7j_0_42',
 'avatar_d36_step7j_0_43',
 'avatar_d36_step7j_0_44',
 'avatar_d36_step7j_0_45',
 'avatar_d38_step7j_0_46',
 'avatar_d38_step7j_0_47',
 'avatar_d37_step7j_0_48',
 'avatar_d35_step7j_0_49',
 'avatar_d34_step7j_0_50',
 'avatar_d38_step7j_0_51',
 'avatar_d35_step7j_0_52',
 'avatar_d34_step7j_0_53',
 'avatar_d38_step7j_0_54',
 'avatar_d37_step7j_0_55',
 'avatar_d34_step7j_0_56',
 'avatar_d34_step7j_0_57',
 'avatar_d37_step7j_0_58',
 'avatar_d36_step7j_0_59',
 'avatar_d38_step7j_0_60',
 'avatar_d36_step7j_0_61',
 'avatar_d36_step7j_0_62',
 'avatar_d36_step7j_0_63',
 'avatar_d37_step7j_0_64',
 'avatar_d36_step7j_0_65',
 'avatar_d34_step7j_0_66',
 'avatar_d36_step7j_0_67',
 'avatar_d36_step7j_0_68',
 'avatar_d35_step7j_0_69',
 'avatar_d36_step7j_0_70',
 'avatar_d36_step7j_0_71',
 'avatar_d36_step7j_0_72',
 'avatar_d38_step7j_0_73',
 'avatar_d34_step7j_0_74',
 'avatar_d37_step7j_0_75',
 'avatar_d38_step7j_0_76',
 'avatar_d36_step7j_0_77',
 'avatar_d36_step7j_0_78',
 'avatar_d38_step7j_0_79',
 'avatar_d35_step7j_0_80',
 'avatar_d34_step7j_0_81',
 'avatar_d38_step7j_0_82',
 'avatar_d34_step7j_0_83',
 'avatar_d37_step7j_0_84',
 'avatar_d35_step7j_0_85',
 'avatar_d36_step7j_0_86',
 'avatar_d34_step7j_0_87',
 'avatar_d35_step7j_0_88',
 'avatar_d37_step7j_0_89',
 'avatar_d36_step7j_0_90',
 'avatar_d36_step7j_0_91',
 'avatar_d34_step7j_0_92',
 'avatar_d38_step7j_0_93',
 'avatar_d38_step7j_0_94',
 'avatar_d35_step7j_0_95',
 'avatar_d35_step7j_0_96',
 'avatar_d38_step7j_0_97',
 'avatar_d37_step7j_0_98',
 'avatar_d36_step7j_0_99',
 'avatar_d37_step7j_0_100',
 'avatar_d35_step7j_0_101',
 'avatar_d37_step7j_0_102',
 'avatar_d36_step7j_0_103',
 'avatar_d38_step7j_0_104',
 'avatar_d36_step7j_0_105',
 'avatar_d36_step7j_0_106',
 'avatar_d35_step7j_0_107',
 'avatar_d34_step7j_0_108',
 'avatar_d36_step7j_0_109',
 'avatar_d35_step7j_0_110',
 'avatar_d37_step7j_0_111',
 'avatar_d38_step7j_0_112',
 'avatar_d38_step7j_0_113',
 'avatar_d34_step7j_0_114',
 'avatar_d37_step7j_0_115',
 'avatar_d36_step7j_0_116',
 'avatar_d34_step7j_0_117',
 'avatar_d38_step7j_0_118',
 'avatar_d34_step7j_0_119',
 'avatar_d37_step7j_0_120',
 'avatar_d34_step7j_0_121',
 'avatar_d35_step7j_0_122',
 'avatar_d37_step7j_0_123',
 'avatar_d37_step7j_0_124',
 'avatar_d38_step7j_0_125',
 'avatar_d37_step7j_0_126',
 'avatar_d36_step7j_0_127',
 'avatar_d37_step7j_0_128',
 'avatar_d37_step7j_0_129',
 'avatar_d36_step7j_0_130',
 'avatar_d34_step7j_0_131',
 'avatar_d34_step7j_0_132',
 'avatar_d37_step7j_0_133',
 'avatar_d36_step7j_0_134',
 'avatar_d37_step7j_0_135',
 'avatar_d35_step7j_0_136',
 'avatar_d37_step7j_0_137',
 'avatar_d38_step7j_0_138',
 'avatar_d38_step7j_0_139',
 'avatar_d34_step7j_0_140',
 'avatar_d34_step7j_0_141',
 'avatar_d36_step7j_0_142',
 'avatar_d34_step7j_0_143',
 'avatar_d34_step7j_0_144',
 'avatar_d37_step7j_0_145',
 'avatar_d35_step7j_0_146',
 'avatar_d38_step7j_0_147',
 'avatar_d35_step7j_0_148',
 'avatar_d36_step7j_0_149',
 'avatar_d37_step7j_0_150',
 'avatar_d37_step7j_0_151',
 'avatar_d34_step7j_0_152',
 'avatar_d38_step7j_0_153',
 'avatar_d36_step7j_0_154',
 'avatar_d34_step7j_0_155',
 'avatar_d35_step7j_0_156',
 'avatar_d37_step7j_0_157',
 'avatar_d35_step7j_0_158',
 'avatar_d34_step7j_0_159',
 'avatar_d34_step7j_0_160',
 'avatar_d34_step7j_0_161',
 'avatar_d35_step7j_0_162',
 'avatar_d36_step7j_0_163',
 'avatar_d35_step7j_0_164',
 'avatar_d34_step7j_0_165',
 'avatar_d35_step7j_0_166',
 'avatar_d34_step7j_0_167',
 'avatar_d37_step7j_0_168',
 'avatar_d35_step7j_0_169',
 'avatar_d36_step7j_0_170',
 'avatar_d37_step7j_0_171',
 'avatar_d34_step7j_0_172',
 'avatar_d38_step7j_0_173',
 'avatar_d36_step7j_0_174',
 'avatar_d36_step7j_0_175',
 'avatar_d38_step7j_0_176',
 'avatar_d34_step7j_0_177',
 'avatar_d34_step7j_0_178',
 'avatar_d38_step7j_0_179',
 'avatar_d34_step7j_0_180',
 'avatar_d36_step7j_0_181',
 'avatar_d36_step7j_0_182',
 'avatar_d38_step7j_0_183',
 'avatar_d34_step7j_0_184',
 'avatar_d34_step7j_0_185',
 'avatar_d35_step7j_0_186',
 'avatar_d35_step7j_0_187',
 'avatar_d35_step7j_0_188',
 'avatar_d38_step7j_0_189',
 'avatar_d34_step7j_0_190',
 'avatar_d34_step7j_0_191',
 'avatar_d38_step7j_0_192',
 'avatar_d34_step7j_0_193',
 'avatar_d36_step7j_0_194',
 'avatar_d37_step7j_0_195',
 'avatar_d35_step7j_0_196',
 'avatar_d36_step7j_0_197',
 'avatar_d38_step7j_0_198',
 'avatar_d37_step7j_0_199',
 'avatar_d35_step7j_0_200',
 'avatar_d38_step7j_0_201',
 'avatar_d38_step7j_0_202',
 'avatar_d37_step7j_0_203',
 'avatar_d37_step7j_0_204',
 'avatar_d36_step7j_0_205',
 'avatar_d37_step7j_0_206',
 'avatar_d37_step7j_0_207',
 'avatar_d35_step7j_0_208',
 'avatar_d35_step7j_0_209',
 'avatar_d36_step7j_0_210',
 'avatar_d37_step7j_0_211',
 'avatar_d38_step7j_0_212',
 'avatar_d38_step7j_0_213',
 'avatar_d37_step7j_0_214',
 'avatar_d34_step7j_0_215',
 'avatar_d38_step7j_0_216',
 'avatar_d35_step7j_0_217',
 'avatar_d38_step7j_0_218',
 'avatar_d35_step7j_0_219',
 'avatar_d34_step7j_0_220',
 'avatar_d34_step7j_0_221',
 'avatar_d37_step7j_0_222',
 'avatar_d34_step7j_0_223',
 'avatar_d36_step7j_0_224',
 'avatar_d36_step7j_0_225',
 'avatar_d36_step7j_0_226',
 'avatar_d35_step7j_0_227',
 'avatar_d35_step7j_0_228',
 'avatar_d37_step7j_0_229',
 'avatar_d37_step7j_0_230',
 'avatar_d34_step7j_0_231',
 'avatar_d34_step7j_0_232',
 'avatar_d36_step7j_0_233',
 'avatar_d37_step7j_0_234',
 'avatar_d34_step7j_0_235',
 'avatar_d35_step7j_0_236',
 'avatar_d35_step7j_0_237',
 'avatar_d35_step7j_0_238',
 'avatar_d34_step7j_0_239',
 'avatar_d36_step7j_0_240',
 'avatar_d36_step7j_0_241',
 'avatar_d38_step7j_0_242',
 'avatar_d15_step3j_0_243',
 'avatar_d16_step3j_0_244',
 'avatar_d17_step3j_0_245',
 'avatar_d18_step3j_0_246',
 'avatar_d18_step3j_0_247',
 'avatar_d16_step3j_0_248',
 'avatar_d16_step3j_0_249',
 'avatar_d16_step3j_0_250',
 'avatar_d18_step3j_0_251',
 'avatar_d14_step3j_0_252',
 'avatar_d17_step3j_0_253',
 'avatar_d14_step3j_0_254',
 'avatar_d16_step3j_0_255',
 'avatar_d16_step3j_0_256',
 'avatar_d14_step3j_0_257',
 'avatar_d17_step3j_0_258',
 'avatar_d16_step3j_0_259',
 'avatar_d15_step3j_0_260',
 'avatar_d17_step3j_0_261',
 'avatar_d17_step3j_0_262',
 'avatar_d14_step3j_0_263',
 'avatar_d16_step3j_0_264',
 'avatar_d16_step3j_0_265',
 'avatar_d18_step3j_0_266',
 'avatar_d14_step3j_0_267',
 'avatar_d14_step3j_0_268',
 'avatar_d18_step3j_0_269',
 'avatar_d18_step3j_0_270',
 'avatar_d18_step3j_0_271',
 'avatar_d16_step3j_0_272',
 'avatar_d18_step3j_0_273',
 'avatar_d14_step3j_0_274',
 'avatar_d15_step3j_0_275',
 'avatar_d17_step3j_0_276',
 'avatar_d14_step3j_0_277',
 'avatar_d18_step3j_0_278',
 'avatar_d17_step3j_0_279',
 'avatar_d17_step3j_0_280',
 'avatar_d18_step3j_0_281',
 'avatar_d15_step3j_0_282',
 'avatar_d18_step3j_0_283',
 'avatar_d14_step3j_0_284',
 'avatar_d15_step3j_0_285',
 'avatar_d16_step3j_0_286',
 'avatar_d18_step3j_0_287',
 'avatar_d15_step3j_0_288',
 'avatar_d18_step3j_0_289',
 'avatar_d18_step3j_0_290',
 'avatar_d14_step3j_0_291',
 'avatar_d18_step3j_0_292',
 'avatar_d15_step3j_0_293',
 'avatar_d14_step3j_0_294',
 'avatar_d18_step3j_0_295',
 'avatar_d14_step3j_0_296',
 'avatar_d18_step3j_0_297',
 'avatar_d18_step3j_0_298',
 'avatar_d17_step3j_0_299',
 'avatar_d16_step3j_0_300',
 'avatar_d18_step3j_0_301',
 'avatar_d17_step3j_0_302',
 'avatar_d14_step3j_0_303',
 'avatar_d15_step3j_0_304',
 'avatar_d17_step3j_0_305',
 'avatar_d14_step3j_0_306',
 'avatar_d14_step3j_0_307',
 'avatar_d18_step3j_0_308',
 'avatar_d15_step3j_0_309',
 'avatar_d16_step3j_0_310',
 'avatar_d18_step3j_0_311',
 'avatar_d18_step3j_0_312',
 'avatar_d17_step3j_0_313',
 'avatar_d14_step3j_0_314',
 'avatar_d16_step3j_0_315',
 'avatar_d15_step3j_0_316',
 'avatar_d15_step3j_0_317',
 'avatar_d15_step3j_0_318',
 'avatar_d14_step3j_0_319',
 'avatar_d17_step3j_0_320',
 'avatar_d16_step3j_0_321',
 'avatar_d16_step3j_0_322',
 'avatar_d18_step3j_0_323',
 'avatar_d16_step3j_0_324',
 'avatar_d18_step3j_0_325',
 'avatar_d14_step3j_0_326',
 'avatar_d17_step3j_0_327',
 'avatar_d16_step3j_0_328',
 'avatar_d17_step3j_0_329',
 'avatar_d18_step3j_0_330',
 'avatar_d17_step3j_0_331',
 'avatar_d18_step3j_0_332',
 'avatar_d16_step3j_0_333',
 'avatar_d15_step3j_0_334',
 'avatar_d18_step3j_0_335',
 'avatar_d17_step3j_0_336',
 'avatar_d14_step3j_0_337',
 'avatar_d17_step3j_0_338',
 'avatar_d14_step3j_0_339',
 'avatar_d18_step3j_0_340',
 'avatar_d14_step3j_0_341',
 'avatar_d17_step3j_0_342',
 'avatar_d14_step3j_0_343',
 'avatar_d16_step3j_0_344',
 'avatar_d17_step3j_0_345',
 'avatar_d16_step3j_0_346',
 'avatar_d17_step3j_0_347',
 'avatar_d18_step3j_0_348',
 'avatar_d17_step3j_0_349',
 'avatar_d17_step3j_0_350',
 'avatar_d15_step3j_0_351',
 'avatar_d15_step3j_0_352',
 'avatar_d17_step3j_0_353',
 'avatar_d18_step3j_0_354',
 'avatar_d16_step3j_0_355',
 'avatar_d15_step3j_0_356',
 'avatar_d17_step3j_0_357',
 'avatar_d14_step3j_0_358',
 'avatar_d14_step3j_0_359',
 'avatar_d18_step3j_0_360',
 'avatar_d14_step3j_0_361',
 'avatar_d17_step3j_0_362',
 'avatar_d18_step3j_0_363',
 'avatar_d16_step3j_0_364',
 'avatar_d18_step3j_0_365',
 'avatar_d14_step3j_0_366',
 'avatar_d17_step3j_0_367',
 'avatar_d16_step3j_0_368',
 'avatar_d16_step3j_0_369',
 'avatar_d15_step3j_0_370',
 'avatar_d16_step3j_0_371',
 'avatar_d16_step3j_0_372',
 'avatar_d15_step3j_0_373',
 'avatar_d15_step3j_0_374',
 'avatar_d15_step3j_0_375',
 'avatar_d16_step3j_0_376',
 'avatar_d17_step3j_0_377',
 'avatar_d14_step3j_0_378',
 'avatar_d16_step3j_0_379',
 'avatar_d16_step3j_0_380',
 'avatar_d14_step3j_0_381',
 'avatar_d15_step3j_0_382',
 'avatar_d16_step3j_0_383',
 'avatar_d18_step3j_0_384',
 'avatar_d17_step3j_0_385',
 'avatar_d16_step3j_0_386',
 'avatar_d16_step3j_0_387',
 'avatar_d18_step3j_0_388',
 'avatar_d16_step3j_0_389',
 'avatar_d16_step3j_0_390',
 'avatar_d17_step3j_0_391',
 'avatar_d16_step3j_0_392',
 'avatar_d18_step3j_0_393',
 'avatar_d14_step3j_0_394',
 'avatar_d14_step3j_0_395',
 'avatar_d17_step3j_0_396',
 'avatar_d18_step3j_0_397',
 'avatar_d17_step3j_0_398',
 'avatar_d18_step3j_0_399',
 'avatar_d18_step3j_0_400',
 'avatar_d15_step3j_0_401',
 'avatar_d18_step3j_0_402',
 'avatar_d18_step3j_0_403',
 'avatar_d14_step3j_0_404',
 'avatar_d18_step3j_0_405',
 'avatar_d18_step3j_0_406',
 'avatar_d16_step3j_0_407',
 'avatar_d14_step3j_0_408',
 'avatar_d14_step3j_0_409',
 'avatar_d16_step3j_0_410',
 'avatar_d18_step3j_0_411',
 'avatar_d14_step3j_0_412',
 'avatar_d15_step3j_0_413',
 'avatar_d18_step3j_0_414',
 'avatar_d18_step3j_0_415',
 'avatar_d17_step3j_0_416',
 'avatar_d15_step3j_0_417',
 'avatar_d16_step3j_0_418',
 'avatar_d14_step3j_0_419',
 'avatar_d15_step3j_0_420',
 'avatar_d18_step3j_0_421',
 'avatar_d14_step3j_0_422',
 'avatar_d16_step3j_0_423',
 'avatar_d14_step3j_0_424',
 'avatar_d17_step3j_0_425',
 'avatar_d15_step3j_0_426',
 'avatar_d17_step3j_0_427',
 'avatar_d14_step3j_0_428',
 'avatar_d14_step3j_0_429',
 'avatar_d14_step3j_0_430',
 'avatar_d14_step3j_0_431',
 'avatar_d18_step3j_0_432',
 'avatar_d15_step3j_0_433',
 'avatar_d18_step3j_0_434',
 'avatar_d18_step3j_0_435',
 'avatar_d18_step3j_0_436',
 'avatar_d16_step3j_0_437',
 'avatar_d17_step3j_0_438',
 'avatar_d17_step3j_0_439',
 'avatar_d18_step3j_0_440',
 'avatar_d15_step3j_0_441',
 'avatar_d16_step3j_0_442',
 'avatar_d14_step3j_0_443',
 'avatar_d16_step3j_0_444',
 'avatar_d15_step3j_0_445',
 'avatar_d14_step3j_0_446',
 'avatar_d16_step3j_0_447',
 'avatar_d16_step3j_0_448',
 'avatar_d16_step3j_0_449',
 'avatar_d14_step3j_0_450',
 'avatar_d16_step3j_0_451',
 'avatar_d17_step3j_0_452',
 'avatar_d18_step3j_0_453',
 'avatar_d14_step3j_0_454',
 'avatar_d15_step3j_0_455',
 'avatar_d18_step3j_0_456',
 'avatar_d15_step3j_0_457',
 'avatar_d17_step3j_0_458',
 'avatar_d18_step3j_0_459',
 'avatar_d16_step3j_0_460',
 'avatar_d14_step3j_0_461',
 'avatar_d18_step3j_0_462',
 'avatar_d18_step3j_0_463',
 'avatar_d14_step3j_0_464',
 'avatar_d14_step3j_0_465',
 'avatar_d16_step3j_0_466',
 'avatar_d14_step3j_0_467',
 'avatar_d14_step3j_0_468',
 'avatar_d15_step3j_0_469',
 'avatar_d16_step3j_0_470',
 'avatar_d14_step3j_0_471',
 'avatar_d18_step3j_0_472',
 'avatar_d14_step3j_0_473',
 'avatar_d16_step3j_0_474',
 'avatar_d15_step3j_0_475',
 'avatar_d15_step3j_0_476',
 'avatar_d17_step3j_0_477',
 'avatar_d16_step3j_0_478',
 'avatar_d17_step3j_0_479',
 'avatar_d16_step3j_0_480',
 'avatar_d16_step3j_0_481',
 'avatar_d18_step3j_0_482',
 'avatar_d14_step3j_0_483',
 'avatar_d18_step3j_0_484',
 'avatar_d17_step3j_0_485',
 'avatar_d36_step7j_1_486',
 'avatar_d35_step7j_1_487',
 'avatar_d37_step7j_1_488',
 'avatar_d36_step7j_1_489',
 'avatar_d37_step7j_1_490',
 'avatar_d37_step7j_1_491',
 'avatar_d38_step7j_1_492',
 'avatar_d35_step7j_1_493',
 'avatar_d35_step7j_1_494',
 'avatar_d35_step7j_1_495',
 'avatar_d35_step7j_1_496',
 'avatar_d37_step7j_1_497',
 'avatar_d38_step7j_1_498',
 'avatar_d35_step7j_1_499',
 'avatar_d35_step7j_1_500',
 'avatar_d34_step7j_1_501',
 'avatar_d37_step7j_1_502',
 'avatar_d38_step7j_1_503',
 'avatar_d35_step7j_1_504',
 'avatar_d35_step7j_1_505',
 'avatar_d38_step7j_1_506',
 'avatar_d38_step7j_1_507',
 'avatar_d34_step7j_1_508',
 'avatar_d34_step7j_1_509',
 'avatar_d36_step7j_1_510',
 'avatar_d34_step7j_1_511',
 'avatar_d38_step7j_1_512',
 'avatar_d34_step7j_1_513',
 'avatar_d38_step7j_1_514',
 'avatar_d37_step7j_1_515',
 'avatar_d34_step7j_1_516',
 'avatar_d35_step7j_1_517',
 'avatar_d38_step7j_1_518',
 'avatar_d38_step7j_1_519',
 'avatar_d36_step7j_1_520',
 'avatar_d37_step7j_1_521',
 'avatar_d35_step7j_1_522',
 'avatar_d34_step7j_1_523',
 'avatar_d38_step7j_1_524',
 'avatar_d38_step7j_1_525',
 'avatar_d38_step7j_1_526',
 'avatar_d37_step7j_1_527',
 'avatar_d37_step7j_1_528',
 'avatar_d37_step7j_1_529',
 'avatar_d38_step7j_1_530',
 'avatar_d38_step7j_1_531',
 'avatar_d36_step7j_1_532',
 'avatar_d38_step7j_1_533',
 'avatar_d36_step7j_1_534',
 'avatar_d37_step7j_1_535',
 'avatar_d37_step7j_1_536',
 'avatar_d36_step7j_1_537',
 'avatar_d36_step7j_1_538',
 'avatar_d34_step7j_1_539',
 'avatar_d35_step7j_1_540',
 'avatar_d38_step7j_1_541',
 'avatar_d34_step7j_1_542',
 'avatar_d34_step7j_1_543',
 'avatar_d36_step7j_1_544',
 'avatar_d34_step7j_1_545',
 'avatar_d38_step7j_1_546',
 'avatar_d35_step7j_1_547',
 'avatar_d38_step7j_1_548',
 'avatar_d38_step7j_1_549',
 'avatar_d34_step7j_1_550',
 'avatar_d38_step7j_1_551',
 'avatar_d35_step7j_1_552',
 'avatar_d37_step7j_1_553',
 'avatar_d38_step7j_1_554',
 'avatar_d38_step7j_1_555',
 'avatar_d37_step7j_1_556',
 'avatar_d38_step7j_1_557',
 'avatar_d36_step7j_1_558',
 'avatar_d37_step7j_1_559',
 'avatar_d35_step7j_1_560',
 'avatar_d38_step7j_1_561',
 'avatar_d38_step7j_1_562',
 'avatar_d38_step7j_1_563',
 'avatar_d37_step7j_1_564',
 'avatar_d35_step7j_1_565',
 'avatar_d36_step7j_1_566',
 'avatar_d37_step7j_1_567',
 'avatar_d37_step7j_1_568',
 'avatar_d37_step7j_1_569',
 'avatar_d35_step7j_1_570',
 'avatar_d36_step7j_1_571',
 'avatar_d34_step7j_1_572',
 'avatar_d34_step7j_1_573',
 'avatar_d38_step7j_1_574',
 'avatar_d36_step7j_1_575',
 'avatar_d34_step7j_1_576',
 'avatar_d36_step7j_1_577',
 'avatar_d36_step7j_1_578',
 'avatar_d34_step7j_1_579',
 'avatar_d34_step7j_1_580',
 'avatar_d37_step7j_1_581',
 'avatar_d36_step7j_1_582',
 'avatar_d35_step7j_1_583',
 'avatar_d36_step7j_1_584',
 'avatar_d35_step7j_1_585',
 'avatar_d37_step7j_1_586',
 'avatar_d37_step7j_1_587',
 'avatar_d36_step7j_1_588',
 'avatar_d37_step7j_1_589',
 'avatar_d35_step7j_1_590',
 'avatar_d38_step7j_1_591',
 'avatar_d37_step7j_1_592',
 'avatar_d35_step7j_1_593',
 'avatar_d36_step7j_1_594',
 'avatar_d36_step7j_1_595',
 'avatar_d34_step7j_1_596',
 'avatar_d38_step7j_1_597',
 'avatar_d38_step7j_1_598',
 'avatar_d38_step7j_1_599',
 'avatar_d36_step7j_1_600',
 'avatar_d37_step7j_1_601',
 'avatar_d37_step7j_1_602',
 'avatar_d34_step7j_1_603',
 'avatar_d35_step7j_1_604',
 'avatar_d35_step7j_1_605',
 'avatar_d37_step7j_1_606',
 'avatar_d34_step7j_1_607',
 'avatar_d35_step7j_1_608',
 'avatar_d38_step7j_1_609',
 'avatar_d36_step7j_1_610',
 'avatar_d38_step7j_1_611',
 'avatar_d35_step7j_1_612',
 'avatar_d34_step7j_1_613',
 'avatar_d38_step7j_1_614',
 'avatar_d37_step7j_1_615',
 'avatar_d34_step7j_1_616',
 'avatar_d35_step7j_1_617',
 'avatar_d37_step7j_1_618',
 'avatar_d35_step7j_1_619',
 'avatar_d34_step7j_1_620',
 'avatar_d34_step7j_1_621',
 'avatar_d36_step7j_1_622',
 'avatar_d34_step7j_1_623',
 'avatar_d38_step7j_1_624',
 'avatar_d38_step7j_1_625',
 'avatar_d34_step7j_1_626',
 'avatar_d36_step7j_1_627',
 'avatar_d36_step7j_1_628',
 'avatar_d36_step7j_1_629',
 'avatar_d37_step7j_1_630',
 'avatar_d37_step7j_1_631',
 'avatar_d36_step7j_1_632',
 'avatar_d38_step7j_1_633',
 'avatar_d35_step7j_1_634',
 'avatar_d35_step7j_1_635',
 'avatar_d37_step7j_1_636',
 'avatar_d37_step7j_1_637',
 'avatar_d38_step7j_1_638',
 'avatar_d34_step7j_1_639',
 'avatar_d38_step7j_1_640',
 'avatar_d36_step7j_1_641',
 'avatar_d34_step7j_1_642',
 'avatar_d36_step7j_1_643',
 'avatar_d35_step7j_1_644',
 'avatar_d34_step7j_1_645',
 'avatar_d34_step7j_1_646',
 'avatar_d38_step7j_1_647',
 'avatar_d35_step7j_1_648',
 'avatar_d38_step7j_1_649',
 'avatar_d38_step7j_1_650',
 'avatar_d36_step7j_1_651',
 'avatar_d35_step7j_1_652',
 'avatar_d36_step7j_1_653',
 'avatar_d34_step7j_1_654',
 'avatar_d34_step7j_1_655',
 'avatar_d37_step7j_1_656',
 'avatar_d38_step7j_1_657',
 'avatar_d36_step7j_1_658',
 'avatar_d37_step7j_1_659',
 'avatar_d38_step7j_1_660',
 'avatar_d37_step7j_1_661',
 'avatar_d35_step7j_1_662',
 'avatar_d34_step7j_1_663',
 'avatar_d35_step7j_1_664',
 'avatar_d36_step7j_1_665',
 'avatar_d37_step7j_1_666',
 'avatar_d36_step7j_1_667',
 'avatar_d37_step7j_1_668',
 'avatar_d38_step7j_1_669',
 'avatar_d38_step7j_1_670',
 'avatar_d38_step7j_1_671',
 'avatar_d35_step7j_1_672',
 'avatar_d36_step7j_1_673',
 'avatar_d37_step7j_1_674',
 'avatar_d36_step7j_1_675',
 'avatar_d36_step7j_1_676',
 'avatar_d38_step7j_1_677',
 'avatar_d35_step7j_1_678',
 'avatar_d35_step7j_1_679',
 'avatar_d35_step7j_1_680',
 'avatar_d35_step7j_1_681',
 'avatar_d35_step7j_1_682',
 'avatar_d35_step7j_1_683',
 'avatar_d37_step7j_1_684',
 'avatar_d38_step7j_1_685',
 'avatar_d35_step7j_1_686',
 'avatar_d36_step7j_1_687',
 'avatar_d38_step7j_1_688',
 'avatar_d38_step7j_1_689',
 'avatar_d36_step7j_1_690',
 'avatar_d37_step7j_1_691',
 'avatar_d35_step7j_1_692',
 'avatar_d35_step7j_1_693',
 'avatar_d38_step7j_1_694',
 'avatar_d37_step7j_1_695',
 'avatar_d38_step7j_1_696',
 'avatar_d34_step7j_1_697',
 'avatar_d36_step7j_1_698',
 'avatar_d36_step7j_1_699',
 'avatar_d35_step7j_1_700',
 'avatar_d35_step7j_1_701',
 'avatar_d35_step7j_1_702',
 'avatar_d36_step7j_1_703',
 'avatar_d37_step7j_1_704',
 'avatar_d36_step7j_1_705',
 'avatar_d36_step7j_1_706',
 'avatar_d38_step7j_1_707',
 'avatar_d36_step7j_1_708',
 'avatar_d38_step7j_1_709',
 'avatar_d36_step7j_1_710',
 'avatar_d35_step7j_1_711',
 'avatar_d35_step7j_1_712',
 'avatar_d34_step7j_1_713',
 'avatar_d35_step7j_1_714',
 'avatar_d37_step7j_1_715',
 'avatar_d37_step7j_1_716',
 'avatar_d38_step7j_1_717',

In [26]:
for i in requests['name'].unique() :
        print(requests['date'])

C:\Users\elise\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [13]:
inf30 = requests['date']>30
sup40 = requests['date']<40
display(inf30)
andd = pd.DataFrame(inf30*sup40)
andd

0          True
1          True
2          True
3          True
4          True
          ...
100934    False
100935    False
100936    False
100937    False
100938    False
Name: date, Length: 100939, dtype: bool

C:\Users\elise\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:194: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  op=op_str, alt_op=unsupported[op_str]

         date
0        True
1        True
2        True
3        True
4        True
...       ...
100934  False
100935  False
100936  False
100937  False
100938  False

[100939 rows x 1 columns]

In [14]:
requests['date'].unique()

array([35, 36, 37, 34, 38, 15, 16, 17, 18, 14], dtype=int64)

In [22]:
new_requests = pd.DataFrame(requests['hotel_id', 'price', 'stock', 'city', 'date', 'language', 'mobile', 'avatar_id'])

KeyError: ('hotel_id', 'price', 'stock', 'city', 'date', 'language', 'mobile', 'avatar_id')

In [19]:
new_requests

,0,1,2,3,4,5,6,7,8,9,...,100929,100930,100931,100932,100933,100934,100935,100936,100937,100938
hotel_id,663,912,640,656,792,165,148,645,579,308,...,749,965,400,832,905,491,371,334,466,389
price,149,164,152,106,82,151,114,157,79,192,...,125,165,99,160,165,167,100,82,169,121

In [62]:
new_matrix = pd.DataFrame(requests['name'].unique(),columns = ['name'])

In [63]:
display(new_matrix)

                        name
0      avatar_d35_step7j_0_0
1      avatar_d36_step7j_0_1
2      avatar_d37_step7j_0_2
3      avatar_d34_step7j_0_3
4      avatar_d38_step7j_0_4
..                       ...
967  avatar_d17_step3j_1_967
968  avatar_d15_step3j_1_968
969  avatar_d14_step3j_1_969
970  avatar_d17_step3j_1_970
971  avatar_d15_step3j_1_971

[972 rows x 1 columns]

In [66]:
visualisation = pd.merge(new_matrix,requests, copy = False)

In [68]:
display(requests)

,Unnamed: 0,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,0,663,149,84,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
1,1,912,164,73,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
2,2,640,152,70,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
3,3,656,106,64,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
4,4,792,82,76,paris,35,romanian,0,38715,avatar_d35_step7j_0_0
...,...,...,...,...,...,...,...,...,...,...
100934,100934,491,167,24,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100935,100935,371,100,3,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100936,100936,334,82,5,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100937,100937,466,169,14,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971
100938,100938,389,121,2,valletta,15,portuguese,1,39686,avatar_d15_step3j_1_971

In [89]:
subset_requests = requests[['name', 'avatar_id', 'date', 'language', 'mobile', 'city']]
visualisation = subset_requests.drop_duplicates()
display(visualisation)

,name,avatar_id,date,language,mobile,city
0,avatar_d35_step7j_0_0,38715,35,romanian,0,paris
156,avatar_d36_step7j_0_1,38716,36,romanian,0,copenhagen
291,avatar_d37_step7j_0_2,38717,37,romanian,0,madrid
399,avatar_d34_step7j_0_3,38718,34,romanian,0,rome
521,avatar_d38_step7j_0_4,38719,38,romanian,0,sofia
...,...,...,...,...,...,...
100525,avatar_d17_step3j_1_967,39682,17,portuguese,1,sofia
100576,avatar_d15_step3j_1_968,39683,15,portuguese,1,vilnius
100663,avatar_d14_step3j_1_969,39684,14,portuguese,1,vienna
100769,avatar_d17_step3j_1_970,39685,17,portuguese,1,amsterdam
100893,avatar_d15_step3j_1_971,39686,15,portuguese,1,valletta

In [93]:
date_plus_30j = visualisation[(visualisation["date"] >30)]
date_inf_20j = visualisation[(visualisation["date"] < 20)]

In [97]:
date_plus_30j["date"] = date_plus_30j["date"] - 7
date_inf_20j["date"] = date_inf_20j["date"] - 3

C:\Users\elise\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\elise\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [99]:
display(date_plus_30j)
display(date_inf_20j)

,name,avatar_id,date,language,mobile,city
0,avatar_d35_step7j_0_0,38715,21,romanian,0,paris
156,avatar_d36_step7j_0_1,38716,22,romanian,0,copenhagen
291,avatar_d37_step7j_0_2,38717,23,romanian,0,madrid
399,avatar_d34_step7j_0_3,38718,20,romanian,0,rome
521,avatar_d38_step7j_0_4,38719,24,romanian,0,sofia
...,...,...,...,...,...,...
75103,avatar_d38_step7j_1_724,39439,24,portuguese,1,sofia
75156,avatar_d37_step7j_1_725,39440,23,portuguese,1,vilnius
75242,avatar_d34_step7j_1_726,39441,20,portuguese,1,vienna
75340,avatar_d35_step7j_1_727,39442,21,portuguese,1,amsterdam
75465,avatar_d37_step7j_1_728,39443,23,portuguese,1,valletta

,name,avatar_id,date,language,mobile,city
25056,avatar_d15_step3j_0_243,38958,12,romanian,0,paris
25212,avatar_d16_step3j_0_244,38959,13,romanian,0,copenhagen
25352,avatar_d17_step3j_0_245,38960,14,romanian,0,madrid
25457,avatar_d18_step3j_0_246,38961,15,romanian,0,rome
25578,avatar_d18_step3j_0_247,38962,15,romanian,0,sofia
...,...,...,...,...,...,...
100525,avatar_d17_step3j_1_967,39682,14,portuguese,1,sofia
100576,avatar_d15_step3j_1_968,39683,12,portuguese,1,vilnius
100663,avatar_d14_step3j_1_969,39684,11,portuguese,1,vienna
100769,avatar_d17_step3j_1_970,39685,14,portuguese,1,amsterdam
100893,avatar_d15_step3j_1_971,39686,12,portuguese,1,valletta

In [100]:
frames = [date_plus_30j, date_inf_20j]
result = pd.concat(frames)
display(result)

,name,avatar_id,date,language,mobile,city
0,avatar_d35_step7j_0_0,38715,21,romanian,0,paris
156,avatar_d36_step7j_0_1,38716,22,romanian,0,copenhagen
291,avatar_d37_step7j_0_2,38717,23,romanian,0,madrid
399,avatar_d34_step7j_0_3,38718,20,romanian,0,rome
521,avatar_d38_step7j_0_4,38719,24,romanian,0,sofia
...,...,...,...,...,...,...
100525,avatar_d17_step3j_1_967,39682,14,portuguese,1,sofia
100576,avatar_d15_step3j_1_968,39683,12,portuguese,1,vilnius
100663,avatar_d14_step3j_1_969,39684,11,portuguese,1,vienna
100769,avatar_d17_step3j_1_970,39685,14,portuguese,1,amsterdam
100893,avatar_d15_step3j_1_971,39686,12,portuguese,1,valletta

In [113]:
import requests
import pandas as pd
user_id = '0965ef50-4892-4e22-923c-236be6b36411'

In [114]:
import urllib.parse

domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)

In [116]:
matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])
pricing_requests = []

compteur = 0
for i in range(result.shape[0]):
#for i in range(1):
    params = {"avatar_name": result.iloc[i]['name'] ,
                "language": result.iloc[i]['language'],
                "city": result.iloc[i]['city'],
                "date": result.iloc[i]['date'],
                "mobile": result.iloc[i]['mobile'],    
                }
    #print(params)
    compteur += 1
    
    #avatar_id = result.iloc[i]['avatar_id']
    #r1 = requests.get(path(f"pricing/{user_id}"), params=params)
    pricing_requests.append(pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request']))
    df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],name)], columns=['avatar_id', 'name'])
    matrix_avatar = matrix_avatar.append(df_tmp)
    
print(compteur)

pricing_requests = pd.concat(pricing_requests)
matrix_avatar_df = pd.DataFrame(matrix_avatar)
matrix_merge_2 = pd.merge(pricing_requests,matrix_avatar_df)
matrix_merge_2.to_csv('matrix_merge_2.csv')
display(matrix_merge_2)

972

,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,785,204,21,paris,21,romanian,0,38715,avatar_d16_step3j_1_971
1,323,284,58,paris,21,romanian,0,38715,avatar_d16_step3j_1_971
2,972,101,8,paris,21,romanian,0,38715,avatar_d16_step3j_1_971
3,705,144,18,paris,21,romanian,0,38715,avatar_d16_step3j_1_971
4,357,163,25,paris,21,romanian,0,38715,avatar_d16_step3j_1_971
...,...,...,...,...,...,...,...,...,...
104709,325,102,0,valletta,12,portuguese,1,39686,avatar_d16_step3j_1_971
104710,81,166,12,valletta,12,portuguese,1,39686,avatar_d16_step3j_1_971
104711,466,169,9,valletta,12,portuguese,1,39686,avatar_d16_step3j_1_971
104712,719,213,15,valletta,12,portuguese,1,39686,avatar_d16_step3j_1_971
104713,965,166,12,valletta,12,portuguese,1,39686,avatar_d16_step3j_1_971

In [117]:
visualisation.to_csv('nos_avatars.csv')

In [ ]:
matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])
pricing_requests = []

for h in range(2):
    for i in range(2):
        for j in range(np.shape(language)[0]):
            for k in range(np.shape(city)[0]):
                a = random.randint(-2,2)
                name = "avatar_d"+str(date[i] + a)+ '_'+str(step[i]) + str(mobile[h]) + '_' +str(compteur)
                params = {
                    "avatar_name": name[k] ,
                    "language": language[j],
                    "city": city[k],
                    "date": date[i] + a,
                    "mobile": mobile[h],    
                }
                compteur +=1
                print(params)
    
                #r1 = requests.post(path(f"avatars/{user_id}/{name}"))
                #r1 = requests.get(path(f"pricing/{user_id}"), params=params)
                #pricing_requests.append(
                #    pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request'])
                #)
                #df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],name)], columns=['avatar_id', 'name'])
                #matrix_avatar = matrix_avatar.append(df_tmp)
                
                
pricing_requests = pd.concat(pricing_requests)
matrix_avatar_df = pd.DataFrame(matrix_avatar)
matrix_merge = pd.merge(pricing_requests,matrix_avatar_df)
matrix_merge.to_csv('matrix_merge.csv')

## Request 2

In [36]:
import pandas as pd
requests = pd.read_csv('nos_avatars.csv')

In [37]:
display(requests)

,Unnamed: 0,name,avatar_id,date,language,mobile,city
0,0,avatar_d35_step7j_0_0,38715,35,romanian,0,paris
1,156,avatar_d36_step7j_0_1,38716,36,romanian,0,copenhagen
2,291,avatar_d37_step7j_0_2,38717,37,romanian,0,madrid
3,399,avatar_d34_step7j_0_3,38718,34,romanian,0,rome
4,521,avatar_d38_step7j_0_4,38719,38,romanian,0,sofia
...,...,...,...,...,...,...,...
967,100525,avatar_d17_step3j_1_967,39682,17,portuguese,1,sofia
968,100576,avatar_d15_step3j_1_968,39683,15,portuguese,1,vilnius
969,100663,avatar_d14_step3j_1_969,39684,14,portuguese,1,vienna
970,100769,avatar_d17_step3j_1_970,39685,17,portuguese,1,amsterdam
971,100893,avatar_d15_step3j_1_971,39686,15,portuguese,1,valletta

In [38]:
requests['date'].unique()

array([35, 36, 37, 34, 38, 15, 16, 17, 18, 14], dtype=int64)

In [39]:
subset_requests = requests[['name', 'avatar_id', 'date', 'language', 'mobile', 'city']]
visualisation = subset_requests.drop_duplicates()
display(visualisation)

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715    35    romanian       0       paris
1      avatar_d36_step7j_0_1      38716    36    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717    37    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    34    romanian       0        rome
4      avatar_d38_step7j_0_4      38719    38    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682    17  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683    15  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684    14  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685    17  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686    15  portuguese       1    valletta

[972 rows x 6 columns]

In [40]:
date_plus_30j = visualisation[(visualisation["date"] > 30)]
date_inf_20j = visualisation[(visualisation["date"] < 20)]

In [42]:
display(date_plus_30j)
display(date_inf_20j)

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715    35    romanian       0       paris
1      avatar_d36_step7j_0_1      38716    36    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717    37    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    34    romanian       0        rome
4      avatar_d38_step7j_0_4      38719    38    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
724  avatar_d38_step7j_1_724      39439    38  portuguese       1       sofia
725  avatar_d37_step7j_1_725      39440    37  portuguese       1     vilnius
726  avatar_d34_step7j_1_726      39441    34  portuguese       1      vienna
727  avatar_d35_step7j_1_727      39442    35  portuguese       1   amsterdam
728  avatar_d37_step7j_1_728      39443    37  portuguese       1    valletta

[486 rows x 6 columns]

                        name  avatar_id  date    language  mobile        city
243  avatar_d15_step3j_0_243      38958    15    romanian       0       paris
244  avatar_d16_step3j_0_244      38959    16    romanian       0  copenhagen
245  avatar_d17_step3j_0_245      38960    17    romanian       0      madrid
246  avatar_d18_step3j_0_246      38961    18    romanian       0        rome
247  avatar_d18_step3j_0_247      38962    18    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682    17  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683    15  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684    14  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685    17  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686    15  portuguese       1    valletta

[486 rows x 6 columns]

In [43]:
date_plus_30j["date"] = date_plus_30j["date"] - 7*3
date_inf_20j["date"] = date_inf_20j["date"] - 3*3

C:\Users\elise\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\elise\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
display(date_plus_30j)
display(date_inf_20j)

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715    14    romanian       0       paris
1      avatar_d36_step7j_0_1      38716    15    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717    16    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    13    romanian       0        rome
4      avatar_d38_step7j_0_4      38719    17    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
724  avatar_d38_step7j_1_724      39439    17  portuguese       1       sofia
725  avatar_d37_step7j_1_725      39440    16  portuguese       1     vilnius
726  avatar_d34_step7j_1_726      39441    13  portuguese       1      vienna
727  avatar_d35_step7j_1_727      39442    14  portuguese       1   amsterdam
728  avatar_d37_step7j_1_728      39443    16  portuguese       1    valletta

[486 rows x 6 columns]

                        name  avatar_id  date    language  mobile        city
243  avatar_d15_step3j_0_243      38958     6    romanian       0       paris
244  avatar_d16_step3j_0_244      38959     7    romanian       0  copenhagen
245  avatar_d17_step3j_0_245      38960     8    romanian       0      madrid
246  avatar_d18_step3j_0_246      38961     9    romanian       0        rome
247  avatar_d18_step3j_0_247      38962     9    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682     8  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683     6  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684     5  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685     8  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686     6  portuguese       1    valletta

[486 rows x 6 columns]

In [45]:
frames = [date_plus_30j, date_inf_20j]
result = pd.concat(frames)
display(result)

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715    14    romanian       0       paris
1      avatar_d36_step7j_0_1      38716    15    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717    16    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    13    romanian       0        rome
4      avatar_d38_step7j_0_4      38719    17    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682     8  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683     6  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684     5  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685     8  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686     6  portuguese       1    valletta

[972 rows x 6 columns]

In [46]:
result['date'].unique()

array([14, 15, 16, 13, 17,  6,  7,  8,  9,  5], dtype=int64)

In [47]:
display(result)

                        name  avatar_id  date    language  mobile        city
0      avatar_d35_step7j_0_0      38715    14    romanian       0       paris
1      avatar_d36_step7j_0_1      38716    15    romanian       0  copenhagen
2      avatar_d37_step7j_0_2      38717    16    romanian       0      madrid
3      avatar_d34_step7j_0_3      38718    13    romanian       0        rome
4      avatar_d38_step7j_0_4      38719    17    romanian       0       sofia
..                       ...        ...   ...         ...     ...         ...
967  avatar_d17_step3j_1_967      39682     8  portuguese       1       sofia
968  avatar_d15_step3j_1_968      39683     6  portuguese       1     vilnius
969  avatar_d14_step3j_1_969      39684     5  portuguese       1      vienna
970  avatar_d17_step3j_1_970      39685     8  portuguese       1   amsterdam
971  avatar_d15_step3j_1_971      39686     6  portuguese       1    valletta

[972 rows x 6 columns]

In [48]:
import requests
import pandas as pd
user_id = '0965ef50-4892-4e22-923c-236be6b36411'

In [49]:
import urllib.parse

domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)

In [62]:
matrix_avatar = pd.DataFrame([],columns = ['avatar_id', 'name'])
pricing_requests = []

compteur = 0
for i in range(result.shape[0]):
#for i in range(1):
    params = {"avatar_name": result.iloc[i]['name'] ,
                "language": result.iloc[i]['language'],
                "city": result.iloc[i]['city'],
                "date": result.iloc[i]['date'],
                "mobile": result.iloc[i]['mobile'],    
                }
    #print(params)
    compteur += 1

    #avatar_id = result.iloc[i]['avatar_id']
    r1 = requests.get(path(f"pricing/{user_id}"), params=params)
    pricing_requests.append(pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request']))
    df_tmp = pd.DataFrame([(r1.json()['request']['avatar_id'],result.iloc[i]['name'])], columns=['avatar_id', 'name'])
    matrix_avatar = matrix_avatar.append(df_tmp)
    
print(compteur)

pricing_requests = pd.concat(pricing_requests)
matrix_avatar_df = pd.DataFrame(matrix_avatar)
matrix_merge_3 = pd.merge(pricing_requests,matrix_avatar_df)
matrix_merge_3.to_csv('matrix_merge_3.csv')
display(matrix_merge_3)

972

,hotel_id,price,stock,city,date,language,mobile,avatar_id,name
0,447,142,9,paris,14,romanian,0,38715,avatar_d35_step7j_0_0
1,560,160,20,paris,14,romanian,0,38715,avatar_d35_step7j_0_0
2,634,91,0,paris,14,romanian,0,38715,avatar_d35_step7j_0_0
3,29,275,12,paris,14,romanian,0,38715,avatar_d35_step7j_0_0
4,656,127,10,paris,14,romanian,0,38715,avatar_d35_step7j_0_0
...,...,...,...,...,...,...,...,...,...
103516,55,126,0,valletta,6,portuguese,1,39686,avatar_d15_step3j_1_971
103517,746,165,9,valletta,6,portuguese,1,39686,avatar_d15_step3j_1_971
103518,512,270,4,valletta,6,portuguese,1,39686,avatar_d15_step3j_1_971
103519,639,210,4,valletta,6,portuguese,1,39686,avatar_d15_step3j_1_971
103520,377,143,0,valletta,6,portuguese,1,39686,avatar_d15_step3j_1_971

In [57]:
display(pricing_requests)

[]